[2015-04-14 11:44] spruce opened #1 "Steps to first major version"
Things which need to be done to reach next version
* [x] implement showAllErrors + Docs (see: https://github.com/indexiatech/ember-forms/pull/52) (PR in the works)
* [x]  horizontal glitch fix
* [x]  address most issues from https://github.com/indexiatech/ember-forms/issues
* [x]  include pull requests from https://github.com/indexiatech/ember-forms/pulls
* [x]  layout bug fix —> don't use Layoutn

[2015-04-14 12:07] spruce opened #2 "make clear how the process to make changes to addon + docs"

[2015-04-14 12:12] spruce opened #3 "make future proof"
https://gist.github.com/samselikoff/1d7300ce59d216fdaf97

See: https://github.com/indexiatech/ember-forms/issues/94

[2015-04-14 12:17] spruce opened #4 "Support for disabled em-text"
See: https://github.com/indexiatech/ember-forms/issues/95

[2015-04-14 12:19] spruce opened #5 "Make validations execute on keyUp"
See: https://github.com/indexiatech/ember-forms/issues/89

[2015-04-14 12:20] spruce opened #6 "Running application test leads to error"
See: https://github.com/indexiatech/ember-forms/issues/87
templateName is deprecated ( https://github.com/ember-cli/ember-cli/issues/3510)

[2015-04-14 12:22] spruce opened #7 "Change in model should be reflected in form"
See: https://github.com/indexiatech/ember-forms/issues/82
and: https://github.com/indexiatech/ember-forms/issues/23

[2015-04-29 02:58] lucasloami opened #9 "Is it possible to use it without bootstrap layout?"

[2015-04-29 06:27] spruce commented on #9
Hey,
for now it doesn't support the usage without bootstrap. Thats because most elements are positioned using some bootstrap classes.

[2015-04-29 06:27] #9 closed

[2015-05-02 16:25] technomage commented on #6
I have the issue with layoutName resolved.  It requires that the component names from app/components be used for the addon/ matching classes in order to find the templates.  But, the use of partials is still making the tests fail.  I also note that the project itself has no tests, which would expose some of these issues as well.

I will be making the existing partial into components so that tests

[2015-05-02 20:26] technomage commented on #6
I anticipate having a pull request late today.  To make it work most of the files have been moved and renamed on the add-on side and templates are now under addon.  So, it will be a pretty extensive PR.

[2015-05-04 08:00] spruce commented on #6
I will review the PR later today. But as far as what I've seen so far it looks good :+1:

[2015-05-04 18:48] xcskier56 commented on #7
Just found this fork. Thanks for taking charge! I see that this is open, and a few of the files have changed from the pull request that I submitted to the old repo. Would you like me to update my code and submit a new PR here?

[2015-05-04 20:21] spruce commented on #7
Sure. Would be nice.

[2015-05-05 17:46] pedrokiefer commented on #1
I've migrated most of the tests from the old coffeescript version.

I think we should rename the source files to keep in line with ember conventions too. ie:
has_property.js => has-property.js
control_help.js => control-help.js

[2015-05-06 10:05] spruce commented on #1
Sure. Can You Point me to the page where it states that?

[2015-05-06 13:54] pedrokiefer commented on #1
@spruce http://www.ember-cli.com/#dasherized-file-and-folder-names-are-required
I think @technomage PR #10 covers most of the renaming. Missing only the mixins.

Do you have a plan of attack for covering all the items on this to do list?

I would probably start with getting #10 in, then unit tests, PR requests from `ember-forms` and finally fix issues in `ember-forms` by adding new tests first.

[2015-05-06 20:40] pedrokiefer commented on #7
@xcskier56 if you can wait a little before updating your code, so that we can land #12 to master, that would be awesome.

[2015-05-06 20:55] spruce commented on #6
After landing #12 we should test if this is still a problem

[2015-05-07 09:00] ScottSmix opened #13 "Sever side errors are not handled and break"
I am using ember-rapid-forms 0.6.2 (released today). Comparing files, I have the same version of all the key dependencies (like ember-cli, ember, ember-data, ember-validations, etc).

When a server side validation fails, the current code does not seem to handled it and worse causes a runtime error (unless I've done something incorrectly). Take the simple controller below that is linked to a model

[2015-05-07 09:35] ScottSmix commented on #13
Seems to be related to <a href="https://github.com/dockyard/ember-validations/issues/268">https://github.com/dockyard/ember-validations/issues/268</a>

I think ember rapid forms requires that ember validations be tied to the model (and not the controller). Currently with ember 1.11.x and associated ember-data, using ember-validations 2.0.0-alpha.3 breaks ember-data or break each other.

Of the wor

[2015-05-07 14:49] pedrokiefer commented on #13
Not sure which of the work arounds is better, I like the idea of adding a prefix to `isValid`and `errors`, but that is a big API change, not sure if the ember-validations team is willing to do that.

We can add an integration test to track this issue, and others that might come up on one of our dependencies.

[2015-05-07 17:56] ScottSmix commented on #13
I am using this work around in the meantime: I replaced node_modules/ember-validations/addon/validators/errors.js with the code below. Seems to work ok but need tests.

[code]

[2015-05-08 04:14] ScottSmix opened #14 "Error message not displaying when validation fails"
I am using ember-rapid-forms 0.6.2. Comparing files, I have the same version of all the key dependencies (like ember-cli, ember, ember-data, ember-validations, etc).

Two related issues:

Issue 1: The error message text is not showing up even though the model.errors.<propertyName> contains errors (and consequently the errors array contains values) because the validations have failed.

Issue 2: Whe

[2015-05-08 08:37] ScottSmix commented on #14
I believe I found the problem. The mainComponent is not being passed to the em-form-control-help in addon/templates/components/form-group.hbs. The bottom lines of the file should be:
[code]
However, there is another issue:

When you first transition to a form, none of the help text is displayed even when a control is focused for the first time. You seem to have to change the input and focus out of

[2015-05-08 09:16] ScottSmix commented on #14
Not sure it's the right change, but the last tweak was to modify the addon/components/em-form-group.js file by triggering showing of errors based on focus-in. This fixed the additional issue called out in my very last post. I added this snippet:
[code]
Things seem to be better now.

[2015-05-08 16:23] pedrokiefer commented on #14
I'm trying to understand your use case:
You have a model filled with some wrong data and you need to display a form for correcting this data? When the form shows up you want to all the wrong fields to be highlighted and display the error message.

[code]
Something like this?

Your first patch is definitely needed, but I'm not so sure about how to handle this behaviour you are asking. I tried to ma

[2015-05-08 17:13] ScottSmix commented on #14
Thank you for the response and sorry for the confusion. I was co-mingling two use cases. I think two flags would be on {{em=form}} would be best:

1. To handle the case where invalid data might be loaded into the form (in the case of editing existing data), your suggested flag "showErrorsOnRender" would work. The benefit to the user is they can immediately see the inputs they need to fix.

2. Anot

[2015-05-08 18:46] pedrokiefer commented on #14
@ScottSmix added a pull request with this features and unit test for them. If this doesn't break anything, we can merge.

[2015-05-08 22:19] ScottSmix commented on #14
@pedrokiefer awesome! Thank you!

[2015-05-08 23:33] ScottSmix commented on #14
@pedrokiefer can you get this in too? Found a bug where the v_icon was not displaying because the mainComponent was not referenced. There might be a better way, but the fix that seems to work fine is in addon/templates/components/form-group.js:
[code]

[2015-05-08 23:55] pedrokiefer commented on #14
Sure! I will fix this too, also want to get basic unit tests for this kind os thing, so in the future we don't get regressions.

[2015-05-09 06:15] ScottSmix commented on #5
I believe this item should be closed?

[2015-05-09 06:28] ScottSmix commented on #7
I believe this change may be as simple as adding form.model to the computed property in addon/mixins/in-form.js as follows:

[code]
@pedrokiefer I know you are talking about doing another commit/merge very soon, could you please include this? I did manually test/debug but did not write any specific tests.

[2015-05-09 11:30] spruce commented on #5
Right. Was adressed in #8

[2015-05-09 11:30] #5 closed

[2015-05-09 11:44] spruce commented on #13
I would like to wait a little longer until ember-validations sort out their problems. So that we don't fix things that can be fixed somewhere else

[2015-05-09 11:48] spruce commented on #1
Thanks:)

Not quite yet.

Sounds about right.

Thanks for the help again. @pedrokiefer @technomage @fivetwentysix . Pretty apreciated.

[2015-05-09 12:50] pedrokiefer commented on #4
I've started a patch for this, including some textarea unit tests, but haven't finished it yet.

[2015-05-09 14:09] pedrokiefer opened #16 "Deprecate params with underscore"
Lots of parameters still use underscore to separate words when the convention is to use camelCase.

- [x] Add deprecate message to all underscore parameters
- [x] Change all underscore parameters to camelCase
- [x] Make parameters names more meaningful when needed

[2015-05-10 23:24] pedrokiefer commented on #6
Is this still an issue?

[2015-05-11 12:25] spruce commented on #6
I don't think it is. Will test it after cleaning up my tests on the application. Should be later today.

[2015-05-11 14:10] pedrokiefer commented on #4
Fixed by #18.

[2015-05-11 14:10] #4 closed

[2015-05-11 14:17] spruce commented on #4
Thanks for that :+1:

[2015-05-11 17:17] pedrokiefer commented on #14
@ScottSmix pushed a fix and a few test cases for form-group and form-group-control

[2015-05-11 17:22] ScottSmix commented on #14
@pedrokiefer awesome!! Thanks!

[2015-05-11 17:27] spruce commented on #6
Now it's failing in a new way:
[code]

[2015-05-11 17:33] pedrokiefer commented on #6
Try adding `'component:form-group'` the `needs` attribute.

[2015-05-11 17:36] spruce commented on #6
That works for form-group but then it raises the error with em-form-label.

Got the same problem with models which depend on one another. There I had to include one model everywhere. That can't be the solution to include every component we depend on in test which use ember-forms. Right?

[2015-05-11 17:42] pedrokiefer commented on #6
@spruce I think there is an open bug on ember-cli / ember-cli-qunit for improving the loading of dependency in tests. The same thing happens when a model has relationships, you have to add all the relationships __recursively__ to the `needs` attribute.

[2015-05-11 17:44] spruce commented on #6
Damn. did read it to late. Gonna search for the issue and close mine then

[2015-05-11 19:43] pedrokiefer commented on #16
#19 should fix all the above items.

[2015-05-11 20:06] pedrokiefer commented on #1
@spruce can you update your patch for showAllErrors with a unit test for it?

I'll try to compile which PR and issues we need to address next.

[2015-05-11 20:10] abrthel opened #20 "Custom CSS Class on control and label"
First, thanks for taking over this project. Great work so far.

It would be nice to be able to customize the CSS classes on the control and label when using just the input component.

So something like
[code]
would output like
[code]

[2015-05-11 20:18] pedrokiefer commented on #20
I'll take a look on this soon. I'm focusing on cleaning up and adding tests right now. I still need to create unit tests for `em-input`, but once I do this adding custom CSS classes should be really easy.

The documentation also needs some love. Most components have some non-documented properties.

[2015-05-11 21:40] spruce commented on #1
Sure. Will try to get it done in the next 24 hrs.

[2015-05-11 22:14] spruce opened #21 "check whether new commits from ember-form make sense to merge"

[2015-05-12 00:56] technomage commented on #6
I strongly recommend moving to the new component integration tests.  They handle a lot of this, and you use a template to specify the component arguments, which makes API docs and tests align.

[2015-05-12 13:39] pedrokiefer opened #22 "Update bootstrap"
Newer bootstrap has a different markup for handling validation icons.

This PR implements that: https://github.com/indexiatech/ember-forms/pull/86/files
After merging this we can update bootstrap to 3.3.

[2015-05-12 14:14] pedrokiefer opened #23 "Labels + Inputs Missing `for` Attributes"

[2015-05-12 20:19] pedrokiefer opened #24 "createBoundSwitchAccessor syntax is deprecated on ember 1.13"

[2015-05-12 20:45] pedrokiefer opened #25 "Add integration test for Ember Data and em-select"
Get a test case working for Ember Data models with relationships hasMany / belongsTo working with an em-select component.

Improve documentation os this use case.

[2015-05-12 20:55] pedrokiefer opened #26 "Create tests for formLayout = horizontal"

[2015-05-13 19:30] pedrokiefer commented on #16
Merged

[2015-05-13 19:30] #16 closed

[2015-05-13 19:32] pedrokiefer commented on #7
I think I've added a test for this. Can you guys check it, please?

[2015-05-14 14:40] pedrokiefer commented on #24
I've used a test coverage plugin while testing locally and never saw the `set` option being called.

[2015-05-15 12:38] joshpfosi commented on #7
I still experience this issue w/ version `0.6.4`.

[2015-05-15 14:03] pedrokiefer commented on #7
Can you help me get a test case for this? Right now we have a test case for a property change on a model and it gets changed on the form.

[2015-05-15 14:09] joshpfosi commented on #7
I don't have time right now to set up a repo but I can be more specific. I have a form with a newly instantiated model. I populate the form which correctly updates the model. On submission, I save the model and replace the controller attr to which the form is bound with createRecord('model'). This correctly resets the model of the form but NOT of the `{{em-input}}` I'm using in the form. So to set

[2015-05-15 14:33] pedrokiefer commented on #7
I think something like this should do as a test case, not involving ember-data and controllers. This test case fails with current code.

[code]

[2015-05-15 14:40] pedrokiefer commented on #7
With @ScottSmix change this test case passes. I'll commit this changes, @joshpfosi would you be kind enough to test it?

[2015-05-15 14:54] joshpfosi commented on #7
I'd be happy to!

[2015-05-15 15:04] joshpfosi commented on #7
Worked like a charm, thank you! When will this be available via `npm install`?

[2015-05-15 15:06] pedrokiefer commented on #7
@spruce when can we do a 0.7.0 release?

[2015-05-15 15:08] joshpfosi commented on #7
Would it require a minor version bump? Feel like this is more of a bug fix than a feature, but then again I want to now so I'm biased :)

[2015-05-15 15:23] joshpfosi opened #27 "disable on em-text has no effect"
Setting the `disabled=true` flag on the `em-text` component seems to be dysfunctional e.g.:

[code]

It appropriately sets the disabled flag in the component but the input field does not carry the `disabled=true` binding.

[2015-05-15 15:51] pedrokiefer commented on #7
I've also merged some ES6 changes, and renamed all the properties with underscore. The old syntax still works but I'll give a deprecated warning.

[2015-05-15 16:03] pedrokiefer commented on #27
`Ember.TextArea` by default doesn't bind the disabled attribute, not sure why. I'll add it here, but it might be good to also do a PR for ember, it's a one line change.

[2015-05-15 16:13] joshpfosi commented on #27
Just made a PR #28 which fixes this with a test.

[2015-05-15 16:41] pedrokiefer commented on #27
Fixed by #28

[2015-05-15 16:41] #27 closed

[2015-05-15 17:58] spruce commented on #7
Sure. I will change the milestone issue to 0.8 then or remove the version number alltogether

[2015-05-15 18:02] spruce commented on #7
I think this can be closed then?

[2015-05-15 18:10] pedrokiefer commented on #7
:+1:

[2015-05-15 18:10] #7 closed

[2015-05-15 19:45] pedrokiefer commented on #3
Could we try to list what we need to change? From the top of my head I only know that we have to cleanup the deprecation messages when running on canary.

[2015-05-15 20:19] pedrokiefer commented on #1
Do we need ember-cli-watson as a dependency?

[2015-05-15 20:46] spruce commented on #3
That sounds right. Other thing I had in mind was data down, actions up. That we follow that paradigm.

[2015-05-15 20:47] spruce commented on #1
Probably not. I think I tried to use it to switch to non-prototyp computed properties

[2015-05-18 13:11] pedrokiefer commented on #14
Have we fixed all the issues on this thread? Can we close it now?

[2015-05-19 07:49] spruce commented on #14
I think so. Right? @ScottSmix

[2015-05-19 09:22] ScottSmix commented on #14
Yes, all issues on this thread are handled/merged. Thank you very much!

[2015-05-19 09:47] #14 closed

[2015-05-26 12:47] limptwiglet opened #29 "Update model bindings"
Hello,

I have notice that updating the model attribute on forms dosnt update the actual form inputs. I noticed that this was an issue on ember-forms repo and a PR has been merged that fixes this:

https://github.com/indexiatech/ember-forms/pull/92

Is there any chance of getting this merged?

Thanks

[2015-05-26 15:07] pedrokiefer commented on #29
This should be already fixed. At least `InFormMixin` is observing changes on `form.model`. It might not be cleaning the previous form errors showing on the inputs, is this your issue? If it's, I just need to add a new test case for this, and the fix should be easy.

[2015-05-26 15:13] limptwiglet commented on #29
@pedrokiefer this wasnt my issue but something that I have come across.

I just added the lines here: https://github.com/indexiatech/ember-forms/pull/92/files#diff-fa2e9f8a9e51e50c7357b8c53e619cbaR20 and it seems to be working fine.

[2015-05-26 16:30] pedrokiefer commented on #29
@limptwiglet this lines here? Those are the only one that aren't on rapid-forms yet.

[code]

[2015-05-26 17:00] limptwiglet commented on #29
My bad @pedrokiefer my package version was locked to 0.6.2 and I noticed these lines are in 0.7.0. Sorry for wasting your time!

[2015-05-26 17:04] pedrokiefer commented on #29
@limptwiglet not a problem, I've just added the missing observer, now the form hides any validation until the user do something to it again.

[2015-05-26 17:05] #29 closed

[2015-05-26 18:59] pedrokiefer commented on #20
@abrthel I've pushed support for this. Still need to update the docs.

[2015-05-26 18:59] #20 closed

[2015-05-26 19:01] pedrokiefer opened #30 "[doc] Cleanup component attributes"
Component attributes that are shared across many components should be documented in only one place.

[2015-05-27 18:33] pedrokiefer opened #31 "[doc] Explain how to create a custom input"

[2015-06-01 06:49] ezpuzz opened #32 "ember-cli 0.2.6 deprecation warning"
[code]

[2015-06-01 16:00] pedrokiefer commented on #32
Thanks for reporting this! I've just pushed a fix.

BTW, ember-cli 0.2.6 changed some behaviour on the `Brocfile.js`, i'll have to check if using broccoli-funnel here makes sense. As I understand, things you want to be included in the `App`, must go on `index.js`, brocfile only handles things for the *dummy* app.

[2015-06-01 16:00] #32 closed

[2015-06-02 16:51] spruce commented on #21
Try to get https://github.com/indexiatech/ember-forms/pull/86 to resubmit. Else do the work ourselves

[2015-06-02 17:05] pedrokiefer opened #33 "Test case and documenation for ember-forms #98"

[2015-06-04 20:39] #2 closed

[2015-06-04 21:11] spruce commented on #33
https://github.com/indexiatech/ember-forms/issues/98

[2015-06-05 08:57] spruce opened #35 "Use Block params"
https://travis-ci.org/piceaTech/ember-rapid-forms/jobs/65471561#L414

[2015-06-05 11:33] Kuzirashi opened #36 "Em-checkbox not working"
See here - http://piceatech.github.io/ember-rapid-forms/#/overview - try clicking checkbox for `Active` property. You'll see that value of `Active` isn't updated.
![trello11](https://cloud.githubusercontent.com/assets/4950658/8005164/28bf125a-0b87-11e5-85e6-c41d44420666.png)

Same happens in my application. In ember-idx-forms I needed to use empty label and it worked, but since I switched to ember

[2015-06-05 11:48] pedrokiefer commented on #36
I'll try to work on this issue later today. Really strange behaviour, it was supposed to be working!
What version of ember are you using?

[2015-06-05 11:50] Kuzirashi commented on #36
1.13.0-beta.2 @pedrokiefer

[2015-06-05 11:52] Kuzirashi opened #37 "Support for autocomplete attribute in em-* helpers"
As title says, I'd like to be able to pass, for example, `autocomplete='off'` to `{{em-input}}`. Ember's `{{input}}` helper allows for this, but with `{{em-input}}`, this doesn't work:
[code]

[2015-06-05 17:19] pedrokiefer commented on #37
This is a known issues, the current solutions is to add all of these bindings referencing the parent component. Which IMHO is not the best solution, but I still don't know of a better way of passing parameters from a parent component to one of its child.

[2015-06-05 17:59] #36 closed

[2015-06-05 18:04] #35 closed

[2015-06-05 18:38] pedrokiefer commented on #33
Added a test case, still need to update docs.

[2015-06-06 06:38] Kuzirashi commented on #37
I'm writing about this because on FireFox it auto-selects first `<option>` with `value` attribute(I'm not sure, but it seems to work this way)  in `<select>`(doesn't matter if `prompt` is present). So I tried passing `autocomplete` attribute but since it's impossible(and `autocomplete` just on `<form>` is not sufficient) I came up with following code, which does what I want:

[code]

[2015-06-16 13:39] wvteijlingen opened #38 "Type="submit" attribute missing from em-form-submit"
The em-form-submit component has a `type` property with value `submit`, but its template doesn't contain the type attribute.

[2015-06-16 13:50] pedrokiefer commented on #38
Ops!! I'll fix and make sure we have a test for it. Thanks for the report.

[2015-06-17 10:27] wvteijlingen opened #39 "Move away from using `view` helper"
The `{{view}}` helper will be removed in Ember 2.0, and is already deprecated in 1.13. It seems the architecture of this library is built upon using `{{view}}` to load the `controlView`. I don't see any quick-fixes for this, other than to change the architecture. Unfortunately, it seems the `{{component}}` helper only takes a component name as a string.

Has there been any thought about this alrea

[2015-06-17 13:45] pedrokiefer commented on #39
I'm all in for a big rewrite. The way we pass attributes from a parent component to its child is just horrible to say the least. If we could compose the component just using javascript, that would be the right way to go, imho. I think this would also make it easier to add custom widgets to a form.

@wvteijlingen do you have any suggestion on how we should handle this new architecture?

[2015-06-17 14:35] pedrokiefer commented on #38
I've pushed a fix, but the test is failing on phantomjs. No problem when running on chrome.

[2015-06-17 14:53] wvteijlingen commented on #39
Honestly, I think https://github.com/Emerson/ember-form-master-2000 already has a better basic architecture. It does miss some niceties like delayed validation, enabling of the submit button, etc. though.

But I don't know whether (re)writing this form library is worth the investment at this point. I would love for [this](https://github.com/emberjs/rfcs/blob/contextual-component-lookup/text/0000-c

[2015-06-17 16:09] pedrokiefer commented on #39
The RFC is what I always thought forms should be handled!

Just found out that there is a `{{#component}}`  helper, not sure if it can help us while the RFC is not out.

[2015-06-23 20:05] xcskier56 opened #40 "em-select Errors without optionValuePath & optionLabelPath"
If you pass a standard array of options to `em-select` it throws a `Uncaught TypeError: Cannot read property 'indexOf' of undefined`

Example Code:

    // ==== test.coffee ====
    `import Ember from 'ember'`

    TestComponent = Ember.Component.extend
      testOptions: Ember.A(['opt1', 'opt2', 'opt3'])
      testOptions2: Ember.a([
        {label: 'opt1', value:'opt1'}
        {label: 'opt2', v

[2015-06-24 12:36] pedrokiefer commented on #40
`testOptions2` seems to be defined as Ember.**a** and I think the correct should be Ember.**A**. But that should not trigger any error, as you are using `testOptions` on your tests.

Which version of ember are you using?

[2015-06-24 22:37] BenjaminHorn commented on #39
@pedrokiefer  could you please let us know, how the new architecture will look like? Some pseudo code will be great.

[2015-06-25 14:12] pedrokiefer commented on #39
I really like the architecture proposed on the RFC.

**DISCLAIMER: I've just made this up, and I'm totally open to discussions!**

So we would get something like this on the templates:
[code]

And something like this defining your custom form:
[code]

Not sure on how a custom component would be created, if using a mixin extending a current component, or something like a wrapper object.

What do yo

[2015-06-25 16:30] BenjaminHorn commented on #39
@pedrokiefer
Very interesting approach. However it feels a little bit odd, not to define the whole form in a template.
I think I like more the classical approach.

[code]
the control-group template could be something like this
[code]
But same issue: no idea how to pass individual attributes (like `mask` and `optionValuePath`) though control-group.

[2015-06-25 16:35] wvteijlingen commented on #39
I think the approach in the RFC is actually the best approach at this point. I think it's more intuitive to call the input components as `{{f.input "fullName"}}` instead of `{{f.fullName}}`. Custom components would just be subclasses that mixin the `RapidFormMixin` then.

[2015-06-25 17:38] pedrokiefer commented on #39
I really like the way [django-crispy-forms](http://django-crispy-forms.readthedocs.org/en/latest/index.html) work. On the template you just have `{% crispy form %}`, and everything else on how this form will be rendered are defined on the form class, either statically or dynamically. Going on with this idea, we would simply have on the template:

[code]

And all the behaviour of the form would be

[2015-06-25 17:55] BenjaminHorn commented on #39
@pedrokiefer  I know squadoosh about django or crispy form, but I like the idea, to have **all** the definitions are at one place. (I still think it would be better place for it in the template, but then we could not use 3rd party components as flexible as I would like to see https://github.com/piceaTech/ember-rapid-forms/issues/39#issuecomment-115311828).

[2015-06-25 18:27] wvteijlingen commented on #39
But the architecture you proposed doesn't really do this. Depending on what you mean with "behavior". It still leaves the layout of the form to the template.

I think if you want to have one component for an entire form, you could just create that component and in the template define the fields using the `{{f.input}}` components.

Having a generic input component like this also allow you to create

[2015-06-25 18:48] BenjaminHorn commented on #39
@wvteijlingen  I don't know how @pedrokiefer wants to do this, but from http://django-crispy-forms.readthedocs.org/en/latest/layouts.html#fundamentals

[2015-07-10 06:44] beastmst opened #41 "differences"
hi, can someone please explain to me the ember-rapid-forms and ember-forms, what are the differences?  why you guys need to fork a new project from the original codes.

in addition, how can i write a server validator (eg, email unique check from server) on a text field only if the field is lost focus (it means the user done for entering) ?

thanks

[2015-07-17 18:54] technomage commented on #41
The fork was to be compatible with ember-cli and the latest version of ember after the original project was dormant for several months and the maintainer would not allow anyone to make commits.

[2015-07-17 18:59] pedrokiefer commented on #41
We still wish to be compatible with the last version of ember, but lots of things changed and more will change in the next few months. I'm waiting to see what happens to the RFC mentioned on #39 and make the necessary changes.

[2015-07-20 07:58] beastmst commented on #41
ok, thanks.. now i got a clearer pic on this fork...

[2015-07-25 22:10] joshpfosi opened #42 "`cid` attribute not working"
I am trying to set either the `name` or `id` of the input field generated by `{{em-input}}` using the `cid` tag and it is entirely dysfunctional as far as I can tell.

Is this correct usage:

[code]

[2015-07-25 22:57] spruce commented on #42
Yes it is correct usage as far as I can tell. :)
I think we got a bug there.

Quickfix for now editing `node_modules/ember-rapid-forms/addon/templates/components/em-form-group.hbs` line 8 changing it to
[code]

I gonna release a new version instantly.

Thanks for the observation. Never used this feature myself :)

[2015-07-25 23:02] spruce commented on #41
Closing now

[2015-07-25 23:02] #41 closed

[2015-07-26 02:06] joshpfosi commented on #42
Hmm this doesn't seem to fix the issue :(

[2015-07-26 09:50] spruce commented on #42
Are you sure that you have the latest version(0.7.1)?

[2015-07-26 11:08] joshpfosi commented on #42
Yes. I also confirmed the hotfix you applied was present.

[2015-07-26 11:22] joshpfosi commented on #42
So I think this is actually the problem: Line 19 of `node_modules/ember-rapid-forms/addon/templates/components/form-group-control.hbs` needs to be changed, as well, to

[code]

This resolved the issue.

[2015-07-31 14:36] joshpfosi commented on #42
Are you going to release this soon?

[2015-07-31 17:40] spruce commented on #42
https://github.com/piceaTech/ember-rapid-forms/releases/tag/v0.7.2

[2015-07-31 17:40] #42 closed

[2015-08-12 18:45] koryteg opened #43 "Ember 1.13 deprecations."
getting this in the console:
Accessing `template` in <dashboard@component:em-input::ember2708> is deprecated. To determine if a block was specified to <dashboard@component:em-input::ember2708> please use `{{#if hasBlock}}` in the components layout.

I was going to work on a PR but this looks like a big change.

[2015-08-19 09:11] spruce commented on #37
The problem with that is. If you insert that code when you load a form which represents a loaded model with the propert set to some value you gonna delete it, right? I will try to incorporate this change into ember-rapid-forms@1.0.0 (See https://github.com/piceaTech/ember-rapid-forms/pull/44)

[2015-08-19 09:20] spruce commented on #43
I'm currently working on that. See https://github.com/piceaTech/ember-rapid-forms/pull/44

Have you got any more related deprecations? Please report them on the PR. Thanks

[2015-08-20 12:42] spruce commented on #40
With 0.8.0-alpha2 it should be fixed.
https://github.com/piceaTech/ember-rapid-forms/blob/fix-ember-1.13/addon/components/em-select.js#L26

Can You please test it?

[2015-08-20 12:45] spruce commented on #38
Fixed with 09814f65f2a5b35b18e20a5a89c2142c672d1a35

[2015-08-20 12:45] #38 closed

[2015-09-02 20:22] spruce opened #46 "Test for setting cid"

[2015-09-03 22:13] spruce opened #47 "better tests for erf components"

[2015-09-03 22:40] spruce commented on #39
If you are still interested in using this project. I just finished writing a massive PR which fixes all the deprecations of ember 1.13. All the tests pass on 2.0, 2.1 and 2.2 canary. So it is now future proof

[2015-09-03 22:41] #39 closed

[2015-09-03 22:42] spruce commented on #43
Should be fixed in 0.8.0-beta2. Can You please verify that?

[2015-09-03 22:46] spruce commented on #23
we should be using elementId for that http://emberjs.com/api/classes/Ember.Component.html#property_elementId

[2015-09-03 22:48] spruce commented on #6
Fixed as @technomage comment

[2015-09-03 22:48] #6 closed

[2015-09-03 22:49] spruce commented on #3
We should use the `mut` helper to change the values and not binding to them

[2015-09-06 18:31] katarzynajaskolska opened #48 "Cursor position error in em-input"
When I add an em-input inside an em-form, type some text, move the cursor to the middle of the text and try to type more text, cursor automatically jumps to the end of the text.

https://v.usetapes.com/uA83Hodbju

This only happens when model is specified like this:
[code]
When I set model as a string, it works fine.

This problem only appears in versions 0.8.0-alpha2 and 0.8.0-beta2.

[2015-09-06 20:43] spruce commented on #48
Thanks for the bug report. I've got a idea what it might be. I will look into that tomorrow

[2015-09-07 21:38] GCorbel commented on #39
@spruce it seems to work for me.

[2015-09-08 09:09] spruce commented on #48
The problem is that the value gets set after every keystroke which makes the cursor be moved to the end of the input field. That was what I did expect. Currently searching for a solution

[2015-09-08 11:05] GCorbel opened #49 "A helper named 'eq' could not be found with em-select"
Hello,

I use this helper in a template :

    {{em-select content=all_skills}}

I don't find with `eq` helper is called.

Any idea?

[2015-09-08 11:57] spruce commented on #49
Which version of ember-rapid-forms are you using? 0.8.0-{alpha|beta} ?

It reads as if you didn't install ember-truth-helpers.

You have to follow the the Installation guide of the branche fix-ember-1.13 from where the version 0.8.0 will be released:
https://github.com/piceaTech/ember-rapid-forms/tree/fix-ember-1.13#installation--tutorial

[2015-09-08 12:02] GCorbel commented on #49
You're right.

[2015-09-08 12:02] #49 closed

[2015-09-08 21:38] spruce commented on #48
Can You please test with version ember-rapid-forms@0.8.0-beta3 ?

[2015-09-09 06:35] katarzynajaskolska commented on #48
Now it works perfectly. Thanks for help!

[2015-09-09 06:37] #48 closed

[2015-09-14 12:45] GCorbel opened #50 "TypeError: Cannot read property 'value' of undefined when I type something on a textarea."
Hello,

I have this controller :

    export default Ember.Controller.extend
      newMessage:(->
        @store.createRecord('message')
      ).property('newMessage')

And this template :

      {{#em-form model=model}}
        {{em-text canShowErrors=true property="body"
          label="Body" placeholder="Type a message"
          class="body"}}
      {{/em-form}}

And this model :

    export

[2015-09-14 12:57] spruce commented on #50
Damn. Did forget to upload my change. I did also run into that problem will be solved soon (like 2 h)

[2015-09-14 15:04] spruce commented on #50
Please try again with version 1.0.0-beta2

[2015-09-16 11:37] GCorbel commented on #50
It works. Thanks.

[2015-09-16 11:37] #50 closed

[2015-09-18 11:50] GCorbel opened #51 "Uncaught TypeError: Cannot read property 'id' of undefined with em-select"
Hello,

I have this simple select :

      {{em-select content=allSkills prompt="Select Skill"}}

The select tag is created succesfully with the right data but, once I click on a value, I have this error :

    Uncaught TypeError: Cannot read property 'id' of undefined with em-select at [this line](https://github.com/piceaTech/ember-rapid-forms/blob/47e95af20fadbdccba83c4ed4d96ebd72d3930b4/addon/c

[2015-09-18 19:54] spruce commented on #51
Yes, You have to have an array which is formated like this:
[code]

See controller code on http://piceatech.github.io/ember-rapid-forms/#/controls/select (note: template markup is out of date and will be replaced soon)

[2015-09-18 20:03] GCorbel commented on #51
I have another bug with "content.id". "." is not allowed. I have not the error right now. I will post it later.

[2015-09-18 22:03] spruce commented on #51
right. with the new versions (0.8 and 1.0 beta you don't prefix 'content.' just use the name which should be 'id' and 'value' but if you use these two you don't have to specify them they are the standard )

[2015-09-21 08:43] GCorbel commented on #51
It works. I prefer to pass directly an array of models. It's strange to have to convert models in another format.

Thanks!

[2015-09-21 08:43] #51 closed

[2015-09-21 08:45] spruce commented on #51
@GCorbel then please open a issue asking for the change. There we can discuss it.

[2015-09-21 08:52] GCorbel opened #52 "Use the array of record instead a conversion with `em-select`"
Hi,

With `em-select`, we have to have an array like this `[{id: 1, name: 'Value 1'}, {id: 2, name: 'Value 2'}]` so, if we find records like this `this.store.findAll('users')`, we have to a loop that convert each value and keep it in an array. I think it should be better to use the array of models directly.

[2015-09-29 16:41] theduke opened #53 "Error: Ember.deprecate should be an object"
I am getting the error:

Uncaught Error: Assertion Failed: options argument to Ember.deprecate should be an object.

No stack trace, so it's hard to figure out where it comes from.
Any ideas?

(ps: using beta two and ember 2.0.2)

[2015-09-29 16:52] theduke commented on #53
I figured it out. The issue arose due to me using submit_button.

The problem is this:

[code]

Should be:

[code]

[2015-09-29 23:01] #53 closed

[2015-09-29 23:06] spruce commented on #52
Have you a nice code example on how to do that? Can You please elaborate more. Definitely interested

[2015-09-30 09:04] theduke commented on #53
Thumbs up. ;)

[2015-10-02 09:39] GCorbel commented on #52
This is my template :

    <div class="panel panel-default">
      <div id="name" class="panel-heading">Add a new skill</div>
      <div class="panel-body">
        {{#em-form model=skillUser}}
          {{em-select canShowErrors=true label="Skill" property="skill_id"
            content=allSkills optionValuePath="id"
            optionLabelPath="name" prompt="Select Skill"}}
      </div>
    </di

[2015-10-02 19:52] jkleinsc commented on #52
I am running into this issue as well and perhaps I can add some additional input:
In [ember-forms](https://github.com/indexiatech/ember-forms), you could use a string array as the content for a select:
Controller:
[code]
Template:
[code]
Because ember-rapid-forms is using the get helper behind the scenes, there isn't currently any way to tell em-select that both the value and label should use the

[2015-10-02 22:13] nobesnickr commented on #52
I have a pull request in right now that should address and allow for this. Hung up on getting tests implemented but hopefully this will be available for you soon.

https://github.com/piceaTech/ember-rapid-forms/pull/54

[2015-10-17 07:30] brisc opened #56 "Fixes for ember 2.0"
Ember-validation was updated to support ember 2.0 .
Ember-rapid-forms should use ember-validation 2.0.0-alpha.4 instead of alpha 3 (Ember Enumerable Utils were removed in 2.0 )
- [x] upgrade ember-validation to 2.0.0-alpha.4

[2015-10-21 10:40] spruce opened #57 "Demo menu is broken"
Btw. you know that your demo is broken? If you click on a menu element the menu disappears...
Noticed by @wzrdtales

[2015-11-07 23:19] spruce opened #58 "make a version which supports contextual component look ups"
https://github.com/emberjs/rfcs/blob/master/text/0064-contextual-component-lookup.md

[2015-11-09 18:14] drewnichols opened #59 "em-select docs incorrectly show use of content. in optionValuePath and optionLabelPath"
after upgrading my app to Ember 2.1 and upgrading to ember-rapid-forms 1.0.0-beta3 none of my select boxes had any values in them. After some debugging I found that i needed to remove the `content.` prefix to the optionValuePath and optionLabelPath properties.

It seems that the documentation in the [demo app](https://github.com/piceaTech/ember-rapid-forms/blob/v1.0.0-beta3/tests/dummy/app/templat

[2015-11-09 18:18] drewnichols commented on #59
submitting https://github.com/piceaTech/ember-rapid-forms/pull/60 with fix

[2015-11-09 22:48] spruce commented on #59
Thanks for PR and finding that out

[2015-11-09 22:48] #59 closed

[2015-11-22 03:49] GCorbel opened #62 "Not able to display errors with canShowErrors"
Hello,

I have this form in a template :

      {{#em-form model=model submitButton=false}}
        {{em-input value=email canShowErrors=true}}
      {{/em-form}}

When the model has errors, errors are not displayed. I added this :

        {{#each model.errors.email as |error|}}
          {{error.message}}
        {{/each}}

And it works. How to display errors in inputs? It's not clear in the doc

[2015-11-22 04:02] GCorbel commented on #62
I was wrong. It works when I use `em-input` correctly.

[2015-11-22 04:02] #62 closed

[2015-11-22 06:30] spruce commented on #62
The docs definitely can be improved. Can you be a little more specific?

[2015-11-22 15:01] GCorbel commented on #62
It can be useful to add the code for each forms. I didn't see something about the `canShowErrors` options.

[2015-11-23 00:14] asermax commented on #42
Question: was the `cid` attribute removed from the latests betas?
If it was, is there any chance they will be reintroduced? We're currently depending on it to run acceptance tests (it's a lot easier to look for fields in form using an id) and we would like to move out from idx-forms to rapid-forms but after giving the code a quick look, I didn't find them :(

[2015-11-23 00:14] GCorbel opened #63 "Not able to work with em-select"
Hello,

I have many problems with `em-select`. I have this form :

      {{#em-form model=model submitButton=false}}
        {{em-select label="User" property="user" content=users
          prompt=" " optionValuePath="id" optionLabelPath="email"}}
      {{/em-form}}

In the controller I have this :

    import Ember from 'ember';

    export default Ember.Controller.extend({
      users: function(

[2015-11-29 01:13] spruce commented on #24
Is already fixed

[2015-11-29 01:13] #24 closed

[2015-11-29 01:16] spruce commented on #63
Thanks for reporting that. Which Versions are you on?

[2015-11-29 01:19] spruce commented on #23
First work on this in commit 2fa67f57cf37d2221b174737201c7ddaab983070

[2015-11-29 01:25] spruce commented on #56
It's done in c46724b7fad2bba6c411a995305e9ff2d5ee7485 isn't it?

[2015-11-29 08:28] spruce commented on #42
Now it should be working again with 1.0.0-beta4. Was removed by accident. need to add test for that

[2015-12-05 21:49] GCorbel commented on #63
Hi and sorry for the late answer.

It's weird but it works. Thanks for your work.

[2015-12-05 21:49] #63 closed

[2015-12-06 13:03] GCorbel commented on #57
Hi,

For christmas, I decided to contribute to this project by fixing bugs on the documentation.

I'm trying to serve the dummy app with `ember serve`. First of all, I had to create an empty Brocfile.js. Now, I want have this message :

    Invalid tree found. You must supply a path or an object with a `.read` (deprecated) or `.rebuild` function: Object
    Error: Invalid tree found. You must supp

[2015-12-06 15:42] GCorbel commented on #57
I found the solution. I still have problem with css but I will solve it.

[2015-12-06 23:08] spruce commented on #63
BTW: I have pushed a change that was already in master but not on the github page

[2015-12-06 23:10] spruce commented on #57
I think it is ok, that the Brocfile is not created.
For more info see here: https://github.com/ember-cli/ember-cli/blob/master/TRANSITION.md#brocfile-transition

[2015-12-07 00:30] GCorbel commented on #57
I forgot to give the link to the PR : https://github.com/piceaTech/ember-rapid-forms/pull/64

[2015-12-08 22:07] asermax commented on #42
Sorry for the late response. The changes indeed fix the `cid` for text inputs, but it seems that it still isn't working for other controls, like the select. I will put together a pull request to try to add those if you don't mind.

[2015-12-09 13:13] GCorbel commented on #30
@pedrokiefer why? You want one place for all parameters but they're not applicable for all inputs. I like it like that.

[2015-12-09 13:21] pedrokiefer commented on #30
It's been a while since I've opened this issue but if I recall the problem was that lots of attributes where undocumented, and some where repeated in all components. I think the ones that are repeated could end up in a generic description of what a component is, which is also something that we don't have.

[2015-12-09 13:21] GCorbel commented on #31
@pedrokiefer , you mean something like :

    {{#em-form model=someModel}}
        {{input value="test"}}
    {{/em-form}}

Is it useful?

[2015-12-09 13:25] pedrokiefer commented on #31
Not really, I mean actually extending em-input so you can add say a custom input formatter, or something like that.

[2015-12-10 01:10] GCorbel opened #68 "Select belongsTo associaton"
Hi,

I'm looking for a simple way to do a selection on a belongsTo association. I tried to do this :

        {{em-select label="User" property="user" content=users
          prompt=" "
          optionValuePath="id" optionLabelPath="id"}}

with this model :

    import DS from 'ember-data';

    export default DS.Model.extend({
      userId: DS.attr(),
      user: DS.belongsTo('user'),
      cour

[2015-12-10 22:01] apokinsocha commented on #68
not enough info here. however, what I can tell you is that you need to have "users" on the parent controller (or component) as an array of objects. each object should have for example "id" and "name" keys in your case. the latter "name" will be used as the labelpath, and id will be the idpath.
that means that you should probably fulfill that promise for the "users" when you get to that route, and

[2015-12-10 23:05] GCorbel commented on #68
@apokinsocha , I understand your solution but it can be nice to have a solution built in Ember Rapid Form. To do it "manually" can be tedious.

[2015-12-10 23:17] GCorbel commented on #68
My users are provided by `this.store.findAll('user')`.

[2015-12-10 23:39] apokinsocha commented on #68
ah okay, didn't know you wanted a built-in solution. I think it's possible to add this feature and could be a good idea, but then you have probably to consider supporting different types of relationships Ember data. and it's possible someone is using their own custom data adapters.
and there are many possible implementations when it comes to rendering selects and how interact with your app. i woul

[2015-12-11 00:00] GCorbel commented on #68
I think [emberx-select](https://github.com/thefrontside/emberx-select) is doing it nicely. For custom behaviour, it's always possible to do code from scratch. The idea is to be as in [simple_form](https://github.com/plataformatec/simple_form).

[2015-12-11 00:17] GCorbel commented on #68
At [this line](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/components/html-select.js#L38) we have an attribute of the selected data. What about checking if the optionValuePath is defined. If it is, we are keeping the same behavior. If it's undefined, we can simply do this `selectedID = selectedValue`.

What you think ? The opinion of @spruce is welcome.

[2015-12-11 00:55] apokinsocha commented on #68
you maybe trying to do different than I thought...

[2015-12-11 01:36] GCorbel commented on #68
I did this :

        var selectedID;

        if (optionValuePath == 'this') {
          selectedID = selectedValue;
        } else {
          selectedID = selectedValue[optionValuePath];
        }

It seems to work. I think it can be clearer with a better name or option. Do you have an idea ?

[2015-12-13 16:36] GCorbel opened #69 "Nested form"
I have a form like this :

    {{#em-form model=model}}
      {{em-select label="Course" property="course" content=courses
        canShowErrors=true prompt=" " propertyIsModel=true optionLabelPath="name"}}
      {{#each model.contacts as |contact|}}
        <div class='row'>
          <div class='col-md-4'>
            {{em-input label="Name" property="contact.name" canShowErrors=true}}

[2015-12-13 21:12] spruce commented on #68
I'll check this issue in a bit. Holidays are creating a mess for me. Sorry for taking so long

[2015-12-14 00:39] GCorbel commented on #69
I just saw it's already possible. I will clarify the doc.

[2015-12-14 00:39] #69 closed

[2015-12-14 08:46] spruce commented on #42
I merged that. Thanks for the PR.

[2015-12-14 08:57] spruce commented on #68
How excactly are you trying to call the select?
Gonna close #54. Than

[2015-12-14 12:28] GCorbel commented on #57
I don't understand but I had a bug last week and add the Brocfile fix it. Now, it works with the master branch.

I will close this issue and rebase my PRs.

[2015-12-14 12:28] #57 closed

[2015-12-17 04:53] ballPointPenguin opened #71 "support for form without model"
I'm having trouble using ember-rapid-forms for my login form.
The form has inputs for 2 properties: email and password, but these are properties on my login controller, not on a model. If model is null, the html-input component causes the following error:
[code]

It would be nice if the form could track the values on the controller instead of on the model.

[2015-12-17 06:00] asermax commented on #71
You always have to provide a model to the `form` afaik.
In this case you could give the controller as the model for your form, but using `controller` on a template has been deprecated in Ember 1.1x and probably removed on Ember 2.x.
Another option (which I'm using on an application) is doing the following on your route:

[code]

Note the `container` parameter when creating the object; this is a mu

[2015-12-17 20:42] ballPointPenguin commented on #71
I see.
Thank you for the response. There seems to be several ways to go about getting parameters in/out of a component that are not necessarily bound to a model. When I replace my login controller with a routable component in the future, I expect I will be passing attrs from the parent component to the child component.
In any case, I would think that using a form with values that are not on any mo

[2015-12-17 20:42] #71 closed

[2016-01-12 00:02] spruce commented on #23
as of lately we support that

[2016-01-12 00:02] #23 closed

[2016-01-13 06:20] #68 closed

[2016-01-13 06:21] #52 closed

[2016-01-13 13:17] bluemari opened #74 "Changing the layout of the em-select to support disabled attribute"
Any suggestions on how to extend the em-select component and only change the layout?

[2016-01-13 13:20] spruce commented on #74
What exactly are you trying to do? One element of a list should be disabled? If you like you could try to create a PR because I think that has a wide enough applicability.

[2016-01-13 13:23] bluemari commented on #74
I want to be able add disabled property to several options inside the select.

[2016-01-13 13:37] GCorbel commented on #74
I think, for now, you have to override [this template](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/templates/components/html-select.hbs) but I don't know how to override an addon with ember.

By the way, a PR is welcomed if you want to contribute.

[2016-01-13 22:05] spruce commented on #3
I think we don't need to do this. Since we would have the same affect and no clear benefit

[2016-01-13 22:05] #3 closed

[2016-01-13 22:06] spruce commented on #1
showAllErrors was actually already possible. Not with that name but showErrorsOnRender

[2016-01-13 22:06] #1 closed

[2016-01-13 22:08] spruce commented on #56
Stalling and seems fixed. Closing now. If not ok with that. Just reopen.

[2016-01-13 22:08] #56 closed

[2016-01-13 22:11] #21 closed

[2016-01-23 12:35] spruce opened #77 "Don't directly access property on model"
I think a nice addition would be to be able to directly bind to a value and not necessarily to a property of the model. Like when you want to add a helper which massages the model value somehow (Think converting number of cents to currency displayable value).

How does it sound?

[2016-01-24 10:16] samsebastian opened #78 "em-select grouped options"
Just an idea, but it would be awesome to be able to use select groups on em-select.

I have a model with a relationship, and I need to use option groups using the top level model, and then selectable options using the relationship.

The way it could potentially work is something along the lines of

[code]

and then something like the below where the logic would check for the option group propertie

[2016-01-24 15:22] GCorbel commented on #78
It seems to be a very specific case. Feel free to do a pull request. I think it's a nice to have but not an absolute necessity.

[2016-01-24 15:23] GCorbel commented on #77
I agree but it's important to keep the change of properties as simple as possible.

[2016-01-25 12:44] spruce commented on #78
PR is up at #79

[2016-01-25 12:46] spruce commented on #77
Hm. For now I solved it as creating a computed property on the model which does the conversion. Is not extremly nice but works for now.

[2016-01-25 12:46] #77 closed

[2016-01-25 12:48] spruce commented on #40
Gonna close it as it is stalling and should be fixed. Reopen if that is not true

[2016-01-25 12:48] #40 closed

[2016-01-25 12:49] spruce commented on #43
Closing as it is stalling and should be fixed. Please reopen if thats not correct.

[2016-01-25 12:49] #43 closed

[2016-01-26 12:31] GCorbel opened #80 "Set errors visibility for all fields."
Hi, I just developed this mixin :

    import Ember from 'ember';

    export default Ember.Mixin.create({
      init: function () {
        this._super();
        this.set('visibleErrors', {});
      },
      showErrors: function() {
        this.changeErrorsVisibility(true);
      },
      hideErrors: function() {
        this.changeErrorsVisibility(false);
      },
      changeErrorsVisibility:

[2016-01-26 13:24] spruce commented on #80
You Mixin this into your models and have a more fine granual control over where the errors get displayed?

[2016-01-26 13:26] GCorbel commented on #80
Yes.

[2016-01-26 13:28] spruce commented on #80
Can you elaborate a little on how you then would use it? When do you need to display only some errors? Feel like this is not a too common need. Or am I misunderstanding something?

[2016-01-26 13:35] GCorbel commented on #80
I think more precision is needed. When I do :

    {{em-input canShowErrors=item.visibleErrors property="firstName"}}
    {{em-input canShowErrors=item.visibleErrors property="lastName"}}

If I focus in and out the first field and it's invalid, the second one will be marked as incorrect too. I want to keep the second want normale.

It's the same think with :

    {{em-input canShowErrors=visibleEr

[2016-01-26 13:37] spruce commented on #80
You don't have to set canShowErrors. That should be handled by ERF automatically. Which shows an error when you focus out and there is actually an error to display.

[2016-01-26 14:24] GCorbel commented on #80
Ok but I want to show errors afters validations. Like this :

    item.validate().then(function() {
      successCallback(item);
    }).catch(function() {
      item.showErrors();
    })

Errors have to be displayed even without focus.

[2016-01-27 10:49] spruce commented on #80
Hm. For that use case we only got showErrorsOnRender. But that will display all errors on all fields. if we could manage to merge these two feature it would be great.
I mean if showErrorsOnRender would call showErrors of your mixin. That would make it more flexible which always is good.

[2016-01-27 14:10] mattbearman opened #81 "Doesn't support Ember 2.X"
When installing on Ember 2.3.0 I got the following error:

File: modules/ember-rapid-forms/templates/components/form-group-control.hbs
Assertion Failed: Using `{{view}}` or any path based on it (L3:C8) has been removed in Ember 2.0

[2016-01-27 14:21] GCorbel commented on #81
Can you check with the master branch or the v1.0.0-beta4 ? I'm using it on Ember 2 applications and it works. On the [source file](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/templates/components/form-group-control.hbs), you can see it does not use `{{view}}`.

[2016-01-27 14:55] mattbearman commented on #81
Thanks for the quick response, I've just tried installing the master branch and it's fixed the error, but {{em-input}} isn't rendering a field. I haven't installed or set up ember-validations, is that a requirement?

[2016-01-27 15:01] GCorbel commented on #81
ember-validations is not a requirement. You have to put it in a `em-form`. This should work :
    {{#em-form model=model}}
        {{em-input property="name" label="Full Name" placeholder="Enter a name..."}}
        {{em-input property="password" label="Password" placeholder="And password..." type="password" disabled=nameHasValue}}
        {{em-text property="comment" label="Comment" placeholder="

[2016-01-27 15:05] mattbearman commented on #81
I've currently got:

    {{#em-form model=model}}
      {{em-input property="email" label="Email Address" placeholder="Email Address"}}
    {{/em-form}}

The model is definitely loaded, and has the property email. I can see in the ember inspector that em-form component is loading the model correctly, but for some reason it's only rendering:

    em-form
      |- em-input
      |    |- form-group

[2016-01-27 15:09] GCorbel commented on #81
This is definitively a strange issue... Did `{{model.email}}` returns something (with a value in the email attribute obviously)?

[2016-01-27 15:13] mattbearman commented on #81
Yeah, if I put `{{model.email}}` in the template it shows the email address fine.

I installed the truth helpers straight from npm using `ember install ember-truth-helpers`, is there possibly a later version I should install?

[2016-01-27 15:16] spruce commented on #81
That is really strange. Can You post the versions you are using? (ember, ember-data, maybe package.json?)

[2016-01-27 15:18] GCorbel commented on #81
Is there something in the inspector? Is there a form tag or something else?

Can you try to use [the input helper](https://guides.emberjs.com/v2.3.0/templates/input-helpers/). This is what `{{em-input}}` do internally.

[2016-01-27 15:20] mattbearman commented on #81
No problem:

Ember 2.3.0
Data: 2.3.2
Package.json:

    {
      "name": "bm-client-app",
      "version": "0.0.0",
      "description": "Small description for bm-client-app goes here",
      "private": true,
      "directories": {
        "doc": "doc",
        "test": "tests"
      },
      "scripts": {
        "build": "ember build",
        "start": "ember server",
        "test": "ember test"

[2016-01-27 15:23] mattbearman commented on #81
Using the standard input helper did render a text field correctly, but of course it's missing all the bootstrap goodness

[2016-01-27 15:38] GCorbel commented on #81
I don't have the time to work on it right now but I'll check tonight. If you want to progress, you can check the behaviour by placing a breakpoint on the ember-rapid-forms module. I have no idea right now.

[2016-01-27 15:40] mattbearman commented on #81
Thanks for the help so far, I appreciate it's a bit of an edge case. I'll look into it as well and let you know if I figure anything out.

[2016-01-29 13:08] GCorbel commented on #81
Hi, it works for me we the same dependencies. Can you share your code in a Github repo? I have no idea for now.

[2016-01-30 02:39] apokinsocha opened #82 "em-text issue on observer to cap or limit characters"
Deleted.

[2016-01-30 09:02] #82 closed

[2016-02-01 19:27] danconnell opened #83 "Prompt on em-select behaves differently in newer versions"
Hi,

In older versions of this package, the prompt on em-select was treated as a null value, and if you chose a value then set it back to the prompt, the property would be set back to null.

This behaviour was changed in this commit: https://github.com/piceaTech/ember-rapid-forms/commit/6455a79ab37c848a2c5ae75a7cbabca52a11defd.

I was wondering if there's any way we could get the old behaviour bac

[2016-02-02 14:42] GCorbel commented on #83
I agree. I'll check tonight.

[2016-02-02 21:19] spruce commented on #83
I think I also noticed that behaviour in an project myself. But I didn't consider it a bug. But it certainly is. Especially when it was different before.

[2016-02-05 17:41] danconnell opened #84 "Ability to set canShowErrors on em-* componenents"
This is a feature request.

It would be nice to be able to set the canShowErrors property to true so that errors can be visible without a user focusing and blurring an input.

The use case for this is: user loads the form, doesn't see error messages, user clicks submit without ever focusing any inputs, user should see error messages.

Looking at the code, it seems like the canShowErrors property i

[2016-02-06 14:29] GCorbel commented on #81
I will close this is use because I'm not able to reproduce it. Feel free to reopen it.

[2016-02-06 14:29] #81 closed

[2016-02-06 15:02] GCorbel commented on #83
Sorry for late answer.I think PR #86 does the correct behavior.

[2016-02-06 15:02] #83 closed

[2016-02-06 15:03] GCorbel commented on #84
I think this is is the same think than #80 . Right?

[2016-02-06 15:05] danconnell commented on #84
Indeed it is. My bad.

[2016-02-06 15:05] #84 closed

[2016-02-06 15:07] GCorbel commented on #84
I'm working on it right now.

[2016-02-08 17:55] danconnell opened #88 "Can't create multiple forms for same model type on latest master"
I tried out the latest version of master (commit afca35ecbcfeee91602cb09f0569dfff05c94948), since I wanted the prompt fix, but I found a problem.

I have the following code:
[code]

This results in error messages:
`Uncaught Error: Assertion Failed: Attempted to register a view with an id already in use: option_text`
`Uncaught Error: Assertion Failed: Attempted to register a view with an id already

[2016-02-08 18:07] danconnell commented on #88
Seems to work fine if I set the cid's to something unique on the em-* inputs in the loop.

This seems like a bug, though.

[2016-02-09 06:19] danconnell commented on #88
Is it possible that this is breaking input bindings? Even after adding cid's to the inputs in the loop so that this error doesn't happen, I get this weird behaviour where the inputs can't update the model.

If the property has text in it, the input is prepopulated, but any changes aren't reflected on the model. It's as if the model or the property is being treated as readonly. I know they shouldn'

[2016-02-09 13:48] GCorbel commented on #88
@danconnell , you're right. I made this bug and I will find the solution to solve it.

[2016-02-10 01:44] GCorbel commented on #88
It will be fixed by #89 once merged.

[2016-02-10 01:44] #88 closed

[2016-02-10 01:49] #80 closed

[2016-02-10 16:46] koryteg commented on #43
sorry for not getting back. notifications get lost sometimes. but this is fixed. thanks

[2016-02-28 04:14] chuckus opened #93 "How to use with ember data models"
Hi there,

I am trying to use this add-on with ember data and having trouble trying to validate the form data against a model I have defined.

Following the example on http://piceatech.github.io/ember-rapid-forms/#/getstarted, a model is passed to the template. Seeing as the `model` keyword is already taken on `Ember.Route`, I set it up like this:
[code]
And setup the template like:
[code]
The tem

[2016-02-28 04:18] danconnell commented on #93
You need to set the model with `@store.createRecord('create-user')`

[2016-02-28 04:31] chuckus commented on #93
@danconnell Thanks, that worked! Still can't get validation to work but the error is gone so going to try figure it out first, new to Ember so just getting my head around it all...

[2016-02-28 04:31] #93 closed

[2016-02-28 14:54] danconnell commented on #93
@chuckus You'd need to mixin the EmberValidations.Mixin into your model for the validations to work. See: https://github.com/dockyard/ember-validations

[2016-03-13 18:23] mkalika opened #94 "validations do not work"
Hi,

I am trying Ember Rapid Forms with ember-validations and encounter issue with validations. They simply don't trigger. Here's my model code:

`import DS from 'ember-data';

var PaymentRequest =  DS.Model.extend({
  amount: DS.attr('number'),
  currency: DS.attr('string'),
  paymentTypeId: DS.attr('number'),
  description: DS.attr('string'),
  user: DS.belongsTo('payer')
});

PaymentRequest.reo

[2016-03-13 18:46] danconnell commented on #94
You need to mixin the ember validations mixin. Check out the ember validations github: https://github.com/dockyard/ember-validations

[2016-03-18 01:52] leoelcoder commented on #94
Try this:

[code]
You have to install the https://github.com/DockYard/ember-validations project
this I did it using ember-cli

I hope this help you!

[2016-03-20 13:57] spruce commented on #94
Thanks for using this addon.

As @danconnell and @leoelcoder said you have to extend from the mixin to get validations to work.

[2016-03-20 13:57] #94 closed

[2016-03-20 18:36] mkalika commented on #94
thank you~

[2016-03-24 19:06] josefguenther opened #95 "Validations not working"
I can't get validations to work at all. My problems:
1. It always validates (on leave focus) and turns green, regardless
2. There is no icon present for validation like in the demo

Here's my relevant code:

[code]

[code]

I confirmed that `title` and `validations` are correct properties on the `model` variable. The input gets set correctly.

I also tried installing `ember-validations` and extend

[2016-03-24 19:22] josefguenther commented on #95
Aha looks like you rely on font awesome for the icon. I added that and solved point 2. It would be worth mentioning in the docs.

Point 1 is still an issue.

[2016-03-24 19:46] josefguenther commented on #95
Ok resolved point 1.

I had to extend EmberValidations on my _model_ like so:
[code]

This needs to be added to the demo / docs as it is not mentioned anywhere. Only by knowing how `ember-validations` works does this become apparent.

[2016-03-24 21:02] haldiggs opened #96 "automatically generating the form"
I have an application for which I am supposed to generate forms based on data from the database.

So within the em-form I had hoped to do something like this
`
{{#em-form formLayout="horizontal"}}
		{{#each someOtherModel as |fld|}}
			{{em-input label=someOtherModel.FldDesc property=someOtherModel.FldName }}
		{{else}}
			nothing here
		{{/each}}
	{{/em-form}}
`
If anyone can tell me how I might

[2016-03-24 21:05] GCorbel commented on #95
I close this issue but keep in my than the doc should be improved. It's the second time we had and issue with validation (https://github.com/piceaTech/ember-rapid-forms/issues/94). It's not clear.

[2016-03-24 21:05] #95 closed

[2016-03-24 21:08] #96 closed

[2016-03-24 21:08] haldiggs commented on #96
never mind... I'm stupid

[2016-03-25 15:53] haldiggs opened #97 "cannot draw form elements into a div"
I cannot seem to force the form elements into a smaller div

So within the em-form I had hoped to do something like this
`
	<div class="col-lg-6">
		{{#each filteredFieldsModel as |fld index|}}
			{{em-input label=fld.paramCode property=fld.paramCode }}
		{{else}}
			Please select a BL/WL Type
		{{/each}}
	</div>
`
The controls always render outside of the div... If anyone can tell me how I might

[2016-03-25 16:32] haldiggs commented on #97
nevermind, I jumped the gun. it was my code

[2016-03-25 16:32] #97 closed

[2016-03-28 23:19] haldiggs commented on #22
did this ever get done?

[2016-03-29 00:16] haldiggs opened #98 "ember-validations not working"
could just be me, I have added ember-validations as mentioned on the help page. I can see the validations objects but my form still submits without checking. I had assumed I didn't need to manually code for the validations to work. Is there any example of this working other than the [help page here](http://piceatech.github.io/ember-rapid-forms/#/getstarted) ??

[2016-03-29 08:13] GCorbel commented on #22
I think it's correct like it is right now. Fill free to reopen the issue if I'm wrong.

[2016-03-29 08:13] #22 closed

[2016-03-29 08:23] GCorbel commented on #98
If you use the submit button of Ember Rapid Form, it will be disabled if the model is invalid. If it is not, check what is the result of [this](https://github.com/DockYard/ember-validations#running-validations).

If you don't use the submit button of Ember Rapid Form, there is no special check and you have to handle the submission yourself.

[2016-03-29 14:24] haldiggs commented on #98
DockYard describes the validations inside the controller, this seems to make sense but based on the example here I tried reopening the model.

`
    import RalItemClass from '../models/ral-item';

    RalItemClass.reopen(EmberValidations, {
	validations: {
		OrgId: {
			presence: true,
			length: {
				minimum: 5
			}
		},
		UserName: {
			presence: true,
			length: {
				minimum: 2
			}
		},
		Co

[2016-03-29 14:52] haldiggs commented on #98
ok you are correct, using your button it starts out disabled. Yea!

[2016-03-29 14:52] #98 closed

[2016-04-02 17:56] josefguenther opened #100 "Validation errors not displayed on submit"
When the `submit` action is called, the validations are run. If they fail, the upstream action will not be called. However, if no fields have been edited (so no validations are shown), every field will silently fail and not display the validation message.

The way around this would be specifying `showErrorsOnRender`, but that will display the errors on render which is not what I want.

I want the

[2016-04-02 18:27] josefguenther opened #101 "em-checkbox cannot be disabled"
Specifying `disabled` on an `em-checkbox` component does not produce the desired effect.

[code]

Produces this:

[code]

As you can see, the disabled attribute is set on the parent DIV but not on the INPUT. On a normal `em-input`, it is set on both the div and the input, and works correctly.

[2016-04-02 19:54] GCorbel commented on #100
I think your right. A PR is welcomed! Thanks.

[2016-04-11 00:09] GCorbel opened #102 "Weird behavior of errors when using input."
I have a strange issue.

I do something like this :

[code]

This is related to ERF because when I comment [this line](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon%2Fmixins%2Fhas-property-validation.js#L14) it works. The bug happens only when an input is created.

I'm not able to reproduce the bug outside ERF.

Does someone have an idea? Can someone reproduce this bug?

[2016-04-11 09:38] spruce commented on #102
In your code snippet why should the last line return null? Do you have some kind of validation in place?

P.S.: I think apart from your problem with that line we should try to refactor it away from bindings

[2016-04-11 11:07] GCorbel commented on #102
I have this behavior with a clean model. It do this with standard Ember and ERF change it.

What is your suggestion to replace bindings? There is probably something to do with Computed Properties.

[2016-04-12 01:52] GCorbel commented on #102
@spruce I think we can use http://emberjs.com/api/#method_defineProperty to add computedProperties. I don't know if these is a better way. Do you have suggestions?

[2016-04-14 06:17] djsegal commented on #69
@GCorbel: what do you mean by its already possible? what docs are you talking about?

[2016-04-14 09:22] spruce commented on #102
Can we close this issue?

[2016-04-14 23:29] djsegal opened #105 "Option to have nested inline row inside a horizontal form (with label on left)"
something like this:

<img width="764" alt="screen shot 2016-04-14 at 7 28 38 pm" src="https://cloud.githubusercontent.com/assets/3156114/14546958/392e3fb6-0277-11e6-9531-57def7a98d76.png">

[2016-04-15 13:10] GCorbel commented on #105
Hl

Can you try something like :

[code]

Is it correct?

[2016-04-18 21:43] spruce opened #106 "update ember-try config"
As of late there exists the possibility to automatically add new versions to the test scenarios. See : https://github.com/ember-cli/ember-try#configuration-files . Thing is it will no longer be possible to run these as different builds on travis which means we will have longer build times. Also I haven't looked into how we can than test single ember versions locally.

What do you think about upgra

[2016-04-18 23:59] GCorbel commented on #106
I agree the the upgrade but I think a refactoring is welcomed but I don't have the time to do it.

[2016-04-19 19:28] josefguenther opened #107 "Cannot get build working"
I'm trying to write a new test.

I installed all the node and bower components with `npm install` and `bower install`. I get errors for `utf-8-validate` and `bufferutil`. Node-gyp terminates with errors. I think they need to be updated.

I tried this in package.json with no effect:
[code]

I'm not sure if it's essential to get those working. At any rate, I cannot get the build working.

[code]
[co

[2016-04-19 21:38] spruce commented on #107
What exactly are the error messages? This project doesn't directly depend on those two. For me it is building. Node-gyp is nasty on windows. Can't help you there because I'm only working on MacOSX.

No benefits for not upgrading. I only don't have the time to do it right now. PR for that would be welcome.

[2016-04-20 02:20] josefguenther commented on #107
node-gyp is indeed nasty. Not my first issue with it. I believe that it's `ember-cli-_something_` that's causing this with dependencies. Since it's all old (old) versions, I really don't care to check at this point, especially if you're fine with an upgrade. I got Travis working (see my PR).

Ok. Only issue is, the tests on travis check against 2.0+. You mention you support 1.13+. I would hesitate

[2016-04-20 18:55] GCorbel commented on #107
@josefguenther we already know the project needs major refactoring. It's not a good period for me to do it.

[2016-04-20 20:52] spruce commented on #107
@josefguenther But you didn't upgrade the package.json in your PR or have I overlooked sth?

Can you point me to the place where it says 1.13+ because we only want to support 2.x beginning from some month ago. Because it was originally forked and the original stays with 1.13.

[2016-04-20 23:52] josefguenther commented on #107
Version Support

The Plugin starting from version 1.0.0 doesn't support ember versions below 1.13. If you need support for this work with a version < 1.0.0 or alternativly use https://github.com/indexiatech/ember-forms

Josef

-----

Sent from my android phone.

On Wed, Apr 20, 2016 at 1:52 PM -0700, "Felix Fichte" <notifications@github.com> wrote:

@josefguenther But you didn't upgrade the packag

[2016-04-21 01:59] djsegal opened #109 "Unable to use in conjunction with ember-autoresize"
`ember-autoresize` uses ember native textarea component instead of `<textarea>` tag.

therefore, you can't get them to work together.

[2016-04-21 02:06] djsegal commented on #109
also, here's ember-autoresize:

+ [ember-autoresize](https://github.com/tim-evans/ember-autoresize)

[2016-04-21 15:13] spruce commented on #107
Yeah. That's technically correct. I rewrite it to state clearly that we dropped support for 1.13 too.

[2016-04-21 23:34] djsegal commented on #109
solved by: #110

[2016-04-21 23:34] #109 closed

[2016-04-21 23:37] djsegal commented on #105
I went a different route with it. I might come back to the problem in the future

[2016-04-21 23:37] #105 closed

[2016-04-21 23:42] djsegal opened #111 "Supporting nested hasMany relations in a form"
I can't find how to do nested resources from the following resource:
+ [em-form-multi-models-test.js](https://github.com/piceaTech/ember-rapid-forms/blob/5b81373b9799b7e2df3126f690fd02b9219739c4/tests/unit/components/em-form-multi-models-test.js)
+ [issue #69](https://github.com/piceaTech/ember-rapid-forms/issues/69)

Is there a way to do it without getting really creative? (like flattening the tr

[2016-04-21 23:47] djsegal commented on #111
A similar example to #69:

[code]

[2016-04-22 10:19] GCorbel commented on #111
You can do something like this :

[code]

I think it will work.

[2016-04-22 17:03] djsegal commented on #111
You the man, Corbel. I'll check it out

[2016-05-20 15:17] hectorh30 opened #112 "Allow custom actions on <select /> change"
Hi there,

I'm trying to create an `em-select`that's not going to be bound a model property, but to a controller property (to aid -filter- selection of a model property).

I want to trigger a custom action (a controller action) when this particular `em-select` changes, and I found out the inner commponent (`html-select`) has an extension point that seems to be exactly for that:

https://github.com

[2016-05-26 18:35] erichonkanen opened #113 "How can I make a form-level error?"
Hello,

Checking this package out and I'm wondering if it's possible to set a form-level error? Basically in my controller if an api call returns a server error, I want to display a generic message to the user but I'm not sure how to do that with this package?

I was able to do something like this:

[code]

but then how can I do something like have that error message be removed once a user begins

[2016-05-29 08:21] GCorbel commented on #113
You do have that error message removed once the user enter something in a field? I don't know what the best way but I think you can observe changes on the model and clean `errorMessage` if it change. What you think?

[2016-05-29 08:27] GCorbel commented on #112
Sorry for late answer. I'm not sure but I think you can do something like this :

    {{em-select label="Fruits:" content=fruitOptions optionValuePath='id' optionLabelPath='name' action='controllerAction'}}

Is it working?

[2016-05-29 08:28] #111 closed

[2016-06-06 12:29] mcobery opened #114 "em-form-group in beta"
Does the em-form-group work in the latest beta release (`1.0.0-beta6`)?

In the following template, the second `em-text` displays and only the label `test` displays for the `em-form-group`.
[code]
Any help would be appreciated.  Form groups worked in this manner in the last release we used, `0.7.2`

[2016-06-07 01:04] GCorbel commented on #114
It seems you're right. The reason is because of [this file](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/templates/components/form-group.hbs). It use `form-group-control` and `mainComponent.htmlComponent` is "erf-html-input". "html-input" has not yield inside and it doesn't make sense.

I don't understand why `form-group` use `form-group-control`. I don't think it's useful. May

[2016-06-07 01:14] GCorbel commented on #114
Ok @spruce , I understood. I will give a try tomorrow.

[2016-06-08 17:26] GCorbel commented on #114
@mcobery can you check the PR #116 and tell me if it works. Thanks.

[2016-06-08 18:36] GCorbel opened #117 "Refactoring"
In order to release the 1.0 version, I want to refactor and improve the code. I think it's a little bit complicated. I don't like the fact than there is too many yields in template because but I tried to start the refactoring and I don't succeed.

If you have ideas, please let me know. @spruce you're opinion is appreciated.

[2016-06-09 18:12] luketheobscure opened #118 "Using `deprecatingAlias` triggers additional deprecation warnings when used as instructed"
Attempting to use `deprecatingAlias` as instructed by the [docs](http://emberjs.com/api/classes/Ember.computed.html#method_deprecatingAlias) triggers additional deprecation warnings. In order to use it without triggering additional deprecation warnings, you have to pass in an object with an `id` and an `until` property:

`oldAndBusted: computed.deprecatingAlias('newHotness', { id: 'foo', until: '1

[2016-06-09 20:32] GCorbel commented on #118
Deprecation warnings will be removed a near future as you can see in the PR #115 I close this issue.

[2016-06-09 20:32] #118 closed

[2016-06-09 20:45] luketheobscure commented on #118
Somehow managed to file that issue on the wrong project! Sorry about that.

[2016-06-16 19:22] djsegal commented on #111
for future reference, there are a few things I had to do to get the above code by @GCorbel to work.
+ fix helper name type: `(contact ...` to `(concat ...`
+ fix indexing typo at end of cid:  `... online-profile-" i)` to `... online-profile-" j)`
+ append field name to prevent cid name collisions:
   - change `{{em-input cid=(contact "contact-" i) model=contact property="email"}}`
   - to `{{em-in

[2016-06-16 19:43] GCorbel commented on #111
You're right. Thanks for corrections!

[2016-06-17 08:59] flyrev opened #120 "em-input type="date" causes problems with JQuery datepicker"
em-input type="date" creates a datepicker field, which is not supported by default in Firefox. So I tried JQuery datepicker for Firefox. However, doing that gives the following result:
![image](https://cloud.githubusercontent.com/assets/21454/16145628/eec39fc2-3479-11e6-9601-65719a0f99b1.png)

in other words, the field becomes a text field and there is just an always open calendar underneath. Clic

[2016-06-17 10:53] flyrev commented on #120
It seems to choose the wrong element. Going through after the document is ready and calling .datepicker() on input objects that are of type date works well.

[code]

[2016-06-17 10:53] #120 closed

[2016-06-30 21:05] flyrev opened #122 "Use em-select to fill a hasMany"
Let's say that a user should choose his favorite artist, yet, we're not going to use the name but rather a reference to another artist.

        {{em-select
            label="Artist"
            property="artist"
            content=artists
            optionValuePath="id"
            optionLabelPath="name"
            prompt="Who's your favorite artist?"
        }}

So, we have
// models/artist.

[2016-07-04 17:49] GCorbel commented on #122
Hi and sorry for the late answer (I forgot you).

Can you try to use `propertyIsModel=true` attribute? You will have something like :

    {{em-select
        label="Artist"
        property="artist"
        content=artists
        optionValuePath="id"
        optionLabelPath="name"
        prompt="Who's your favorite artist?"
        propertyIsModel=true
    }}

I think it will work.

[2016-07-05 09:40] flyrev commented on #122
No luck.

I created a repo for it: https://github.com/flyrev/ember-rapid-forms-select-hasMany

[2016-07-05 20:54] #114 closed

[2016-07-05 21:18] spruce commented on #101
Thanks for catching that! Do you wanna create a PR?

[2016-07-05 21:20] spruce commented on #102
Seems so :)

[2016-07-05 21:20] #102 closed

[2016-07-05 21:22] spruce commented on #106
Running all tests in parallel would lead to times longer than 20 minutes. Which I think is not acceptable. That's why I'm gonna close it for now.

[2016-07-05 21:22] #106 closed

[2016-07-05 21:24] spruce commented on #107
I got the build working again. So this should be a non issue. Re-open if I'm wrong

[2016-07-05 21:24] #107 closed

[2016-07-05 21:31] spruce commented on #117
I'm really in favor of doing that. But as you said it is quite a task. Maybe we can make some more work on the PR https://github.com/piceaTech/ember-rapid-forms/pull/75

It is not pretty there either but I think it is generally a good start.

[2016-07-05 21:34] spruce commented on #117
Another thought while I'm at it. I want to create a graphical representation of how the components are nested inside each other to make it clearer to everyone (including me) how it works. For now it is a nice Frankenstein monster 👊

[2016-07-06 00:40] GCorbel commented on #117
I totally agree for a graph.

[2016-07-06 00:54] GCorbel commented on #117
I'm thinking about the graph but I think we need it because it's complicated and we have a structural problem. I think we need to search if we find solutions to those problems. Personally, I don't know. If you have suggestions, I'm ready to work on it.

[2016-07-06 00:56] #101 closed

[2016-07-06 07:11] spruce commented on #100
Closed as of your PR

[2016-07-06 07:11] #100 closed

[2016-07-06 07:28] spruce commented on #117
For now we mirror quite closely the way bootstrap builds its forms. We might be able to create bigger components/templates without loosing some flexibility but we loose DRYness because then we will have in many components the same div's and such.

[2016-07-07 20:11] pedrokiefer commented on #117
+1 for refactoring and cleaning it up.
The templates have been a pain since the beginning, way too many if's, yield's and parameters passing around.

[2016-07-08 19:48] allancaffee opened #128 "Building a list of complex records with a form"
First of all forgive me if this isn't the appropriate venue for asking questions. I'm currently trying to build up a form that would allow users to input structured data. I'm trying to build up a list of nested dictionaries like:

[code]

and I'm having a little trouble figuring out how to build up a list of complex objects with a web form. I was hoping for something similar to the `FieldList` fun

[2016-07-08 21:18] spruce commented on #128
That is a nice feature. But sadly ember-rapid-forms doesn't support anything like type-aheads. (Nobody till now had the usecase) I also think this goes beyond what we want to support. I think the best way possible to go forward ist to build such a component yourself. In my opinion you don't even need ember-rapid-forms for that.

(Offtopic) Out of curiousity: How did you find this project?

[2016-07-08 21:30] allancaffee commented on #128
You're the second hit on Ember Observer for forms https://emberobserver.com/?query=forms. And the first one I started really playing around with. Mostly because it seemed (and was) super simple to wire together a basic form and get it posting to my backend, and it seems like its under active development so I figured I would give it a shot.

I'll do a little more digging around in the docs for othe

[2016-07-08 21:30] #128 closed

[2016-07-20 06:09] djsegal opened #129 "Question: Have people set up em-text to use ivy-codemirror?"
i was just wondering if anyone had already attempted this
- addon in question: [ivy-codemirror](https://github.com/IvyApp/ivy-codemirror/)
- codemirror allows you to transform textareas into code editors.

[2016-07-20 08:59] spruce commented on #129
I can only speak for myself: I've not done anything like that.

Also: Please keep the issue section for real bugs. Such things would be better suited on Stackoverflow or alike.

[2016-07-20 13:40] GCorbel commented on #129
I never did this but I think you can use the `em-custom-input` component. Let us know if you have a bug.

[2016-08-03 16:00] spruce commented on #122
For a quick workaround (for belongsTo)
[code]

I gonna look a little further into it to find out how to do this the best way.

[2016-08-06 17:31] thomas-atwood opened #132 "support 'readonly' attribute for input fields"
Essentially a second vote for the 'disabled' support in an earlier request.
I would also like to second the request for supporting the set of related objects (through has-many declaration on the model) as the options in a drop-down select — with an option for preventing the user from editing/deleting these links through the form.
Nice component: It significantly cleans up the large set of input fo

[2016-08-06 19:30] GCorbel commented on #132
Hi, disabled should work now. Can you try the master branch?

I started to contribute because I love simpe-form.

[2016-08-07 21:26] thomas-atwood opened #133 "version of rapid-forms for Googles Material Design rather than Bootstrap?"
Love to have a prepackaged version of this for use with Material Design scss and javascript.

[2016-08-08 17:20] GCorbel commented on #133
I agree but it will be a big job. We have to think about that.

[2016-08-08 17:41] danconnell commented on #133
Foundation would be nice too

[2016-08-08 18:13] spruce commented on #133
I think @GCorbel is right. It will be quite a big undertaking. Also our current structure is adapted to the element structure bootstrap requires. I think it would be best if it will be either forked or maybe rewrite the core to use and abstract model which then uses bootstrap/material/foundation

[2016-09-14 09:36] dimul opened #134 "Problem with You must use Ember.set() to set the `parentView` property to `null`"
I have updated Ember to ember 2.8 ember-cli to 2.8 and ember-data to 2.8

Now I have a problem with this error

    Uncaught Error: Assertion Failed: You must use Ember.set() to set the `parentView` property (of
    <myapp@component:em-input::ember619>) to `null`

If I will uncomment this em-inputs in my template, all works just fine

It happens when I am transitioning from a particular route to a

[2016-09-14 11:59] GCorbel commented on #134
Hi, I know that issue and I prepared a fix. I will push it today.

The error comes from this file : https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/mixins/in-form.js .You can just remove `parentView` from the computed property.

[2016-09-14 14:51] dimul commented on #134
Ok, got you, thx for update

There is actually an update in emberjs/ember.js

There was a fix introduced. Check this pull-request which was alredy merged... quite recently actually emberjs/ember.js#14281

It actually fixes it. Just finished testing

[2016-09-19 10:56] spruce commented on #134
Is this resolved then?

[2016-09-19 13:41] dimul commented on #134
No man, it is still not. Stuff needs fixing and without it it seems that it is not possible to use Ember 2.8. At least for us here

[2016-09-19 13:48] dimul commented on #134
This is what continues to happen, after applying a fix from mentioned pull request
[code]

[2016-09-19 13:51] GCorbel commented on #134
I should be solved by this PR : https://github.com/piceaTech/ember-rapid-forms/pull/135 . @spruce , can you check it and tell me if it's correct ?

[2016-09-19 14:28] dimul commented on #134
@GCorbel I have checked it and it works for me in all those places that were not working

[2016-09-19 14:55] spruce commented on #134
Nice. So we can close this issue when we have merged the PR? @dimul ?

[2016-09-20 07:31] dimul commented on #134
Yeap, it seems like so

[2016-09-24 20:03] taras opened #136 "Changing API to use contextual components before 1.0 release?"
Once 1.0 is released, we'll be stuck with API that relies on `parentView`. What are your thoughts about changing the API to use contextual components before 1.0?

The new syntax would look like this.

[code]

Contextual components API would remove the necessity for `parentView` and allow nesting input fields in template block of another component.

[code]

It would likely require an AST transform

[2016-09-24 20:03] taras commented on #136
Looks like this was already proposed in #58

[2016-10-01 13:05] GCorbel commented on #136
It sounds good but it will take time to do. Are you available to do a PR?

[2016-10-05 10:15] spruce commented on #136
Ok, so I'm gonna invest some time over the next few days for making ember-rapid-forms use contextual components.

[2016-10-17 22:04] spruce commented on #136
@taras see my work on that matter in PR #138

[2016-10-17 22:05] spruce commented on #134
Closed as the PR (#135) is merged.

[2016-10-17 22:05] #134 closed

[2016-10-17 22:06] spruce commented on #58
#138

[2016-10-17 22:06] #58 closed

[2016-10-24 21:51] spruce opened #139 "Changing validation basis"
As we always had some bigger or minor issues with validations (See #13 ) and also the currently used solution no longer being maintained (See https://github.com/DockYard/ember-validations/commit/1ed7c61d6396ebf20b6953775c5b5ffdb77766f5 ). We have two options on hand and one of them is not really viable.
1. Let the user try to fix the problem themselves (See https://github.com/DockYard/ember-valida

[2016-10-25 13:38] GCorbel commented on #139
I aleady changed for ember-cp-validations and it works pretty well. What do we have to change ?

[2016-10-25 18:20] spruce commented on #139
Did you just switch the validation library you use in your application and it did just work?

I thought along the lines of creating some testcases and guides on how to properly use them. Not to much.

[2016-10-25 18:33] GCorbel commented on #139
Yes. I'm not 100% sure but I think we just have to use [the "ds-error" validator](http://offirgolan.github.io/ember-cp-validations/docs/classes/DS%20Error.html).

[2016-10-29 10:15] toovy commented on #139
@GCorbel @spruce I'm currently updating an old project with ember-rapid-forms and ember-validations, I had the same thought. Did you really simply drop in ember-cp-validations and it worked?

In my model (coffee-script):

    Validations = buildValidations
      newPassword: [
        validator('presence', true)
        validator('length', min: 8, max: 24)
        validator('ds-error')
      ]

Er

[2016-10-31 11:05] GCorbel commented on #139
Ok, I will check it today.

[2016-10-31 12:25] GCorbel commented on #139
I was completly wrong and I worked **a lot** to make it working.

I did this mixin :

[code]

If I include the mixin, it works. I think it's better te contact @offirlogan to add this mixin or check if it's possible to do something in ember-cp-validations .

[2016-11-03 00:50] #113 closed

[2016-11-09 09:18] spruce commented on #139
What do you think of creating a mixin inside of ember-rapid-forms so that we could offer a solution independently of ember-cp-validations?

[2016-11-10 21:11] GCorbel commented on #139
@spruce this will not work with other addons.

[2016-11-10 23:37] spruce commented on #139
Well I meant including a mixin like what you have done. What I want to get: Compatibilty with ember-cp-validations.

[2016-11-11 12:01] GCorbel commented on #139
We can but it's cleaner on ember-cp-validation because this is not really related to ember-rapid-forms

[2016-11-13 13:53] spruce commented on #139
But it is less related to ember-cp-validations. It provides a legacy mixin to support access like it was in ember-validations. And if they don't want to have a legacy layer in their codebase I could understand this. Also I think it will be faster to include the mixin in ember-rapid-forms and to try migrate it over to ember-cp-validations if possible later.

[2016-11-13 14:00] GCorbel commented on #139
I still think it's better to do it in ember-cp-validatoin but if you think it can be useful in ERF, go ahead ! We will see what @offirlogan will do.

[2016-11-16 12:45] GCorbel commented on #139
I discussed with @offirlogan and I will do an external addon.

[2016-11-26 00:01] spruce commented on #139
Hey @GCorbel,
how far have you come?

BTW: Thanks for all the effort!!!

[2016-11-26 20:11] GCorbel commented on #139
Sorry, I'm late on this subject and I still have to do it. I will do it this week.

[2016-11-30 23:12] spruce commented on #139
@GCorbel i couldn't wait. So I integrated it myself on a new branch. What do you think? It's a blocker for a client project of mine. I think it is a good intermediate solution.

[2016-12-14 13:53] wmlele commented on #139
The switch to ember-cp-validations is very welcome. Just one thing, can you guys just make sure it will work even without ember-data? (currently the POC ember-cp-validations-helper depends on ED)

[2016-12-14 14:17] spruce commented on #139
Sure. I will try to refactor later. You can review it later if you want.

[2016-12-17 14:29] GCorbel opened #142 "Add required if there is a presence validation on a field"
Now, we will have soon a connection with ember-cp-validation. I think we can add `required` to fields with a presence validation. We can also add a '*' near the label to say it's required.

What you think ?

[2016-12-17 19:50] spruce commented on #142
What do you mean? It should then automatically make the star? why does it depend on ember-cp-validations?

[2016-12-18 13:01] spruce commented on #139
I have just updated the PR. Could you tell me what needs to be changed to make it work without ED?
My list of thinks I think need to be changed:
- [ ] line 33: don't check currentState
- [ ] lines 49: call correct method (which would that be?)
- [ ] lines 57/59: Do these methods exist on non ember-data Models?

Could you help me with them?

[2016-12-18 14:38] GCorbel commented on #142
We can check if there is a presenceValidator on a field then we can add a star on the label. With [simple_form](). When a field is required, we have something like that :

    <label class="string required control-label" for="message_name">* Your name</label>

The class `required` and the * before the label are added.

[2016-12-18 16:09] spruce commented on #142
But this would force everyone who wants to use this feature to also use ember-cp-validations.

[2016-12-18 16:59] GCorbel commented on #142
We can do it automatically with ember-cp-validations and do it if we have `required=true` in the input without ember-cp-validations.

[2016-12-18 17:15] spruce commented on #142
But the presence validator would still come from ember-cp-validations so it would become a hard dependency, right? I'm against making ember-cp-validations a dependency for any feature.

[2016-12-18 19:47] GCorbel commented on #142
We can make it optional, if like we did for i18n.

[2016-12-18 20:27] spruce commented on #142
ok. You wanna do a PR?

[2016-12-18 20:32] GCorbel commented on #142
Yep. I'm working on it.

[2016-12-18 22:46] spruce commented on #13
fixed as of merging of #141

[2016-12-18 22:46] #13 closed

[2016-12-18 22:47] spruce commented on #139
i merged #141 just now. if you'd create a new PR with necessary changes that would be greatly appreciated.

[2017-01-06 10:29] spruce commented on #132
Closing as of inactivity.

[2017-01-06 10:29] #132 closed

[2017-01-06 10:29] spruce commented on #112
Closing as of inactivity.

[2017-01-06 10:29] #112 closed

[2017-01-19 00:29] spruce commented on #136
@taras What you say to #138 ?

[2017-01-19 00:29] #133 closed

[2017-01-19 00:30] spruce commented on #129
As it's a question. I gonna close this one.

[2017-01-19 00:30] #129 closed

[2017-01-19 00:30] taras commented on #136
@spruce it looks great!

[2017-01-19 00:31] spruce commented on #133
As it's a question. I gonna close this one.

[2017-01-19 00:32] spruce commented on #46
https://github.com/piceaTech/ember-rapid-forms/blob/62f3602d7415ecbab10bee599ec3fbb43d39425c/tests/unit/components/em-checkbox-test.js#L26

[2017-01-19 00:32] #46 closed

[2017-01-19 00:37] spruce commented on #136
Purfect. 🐱

[2017-01-19 00:37] #136 closed

[2017-01-19 01:14] #142 closed

[2017-01-19 11:34] spruce commented on #142
What happened? Is it already done?

[2017-01-19 12:17] GCorbel commented on #142
Yes, it's fixed by #144

[2017-01-23 16:13] flyrev opened #147 "Radio buttons"
Is it possible to make radio buttons with this project?

[2017-01-24 01:13] GCorbel commented on #147
Not yet but it should not be a big deal to add it. Do you want to contribute ? I don't have the time at the moment.

[2017-01-31 22:17] haldiggs opened #148 "ember-template-compiler.js"
using Ember 2.11.0, installed "ember-rapid-forms": "1.0.0-beta11" and it seems to be looking for ember-template-compiler.js in the bower_components folder. However ember complains if I install Ember into that folder.

WARNING: Ember.js is now provided by node_module `ember-source`, please remove it from bower

[2017-02-01 10:55] spruce commented on #148
When is the warning issued? What did you install right before?

[2017-02-01 20:29] haldiggs commented on #148
nothing before it. When I install it using "ember install", it adds
    "ember": "^2.11.0",
    "bootstrap": "~3.3.4"
to the bower file on its own. Currently I have to leave them there to compile so it my not be terrible right now. However since Ember-CLI warns me I wanted to pass it on.

[2017-02-01 21:05] spruce commented on #148
Thanks for letting us know. Gonna change that in the future. If you want to create a PR. I'm happy to accept

[2017-02-14 13:21] psteininger commented on #148
@spruce and @haldiggs #149 and #150 should have taken care of this

[2017-02-14 14:44] GCorbel commented on #148
I close this issue. @psteininger I forgot to thank you for the job. Thanks !

[2017-02-14 14:44] #148 closed

[2017-02-14 15:33] haldiggs commented on #148
thanks!

[2017-02-14 16:45] spruce commented on #148
sure. Can do a next preview release.

[2017-02-14 20:56] psteininger commented on #148
@spruce I think the update of `ember-cli-htmlbars` maybe actually causing other issues. I will create a new ticket and reference this and others.

[2017-02-14 21:14] psteininger opened #151 "Error after updating ember-cli-htmlbars [Ember 2.11.0]"
This issue may be caused by updates in #149 and #150 (which are related to #148 )

I have a form that is backed by a model, which extends `Ember.Object` not `DS.Model`, and has `ember-cp-validations`.
[code]
[code]

Here's the HBS:
[code]

Whether I have the validations turned on or off (code commented out completely) I get an the following error, when I change the value of any field. I also tried

[2017-02-15 09:27] psteininger commented on #151
@spruce it looks like the issue is that the `root` in the following method evaluates to `undefined`
[code]
the value of `root` before these lines
[code]
has the input tag as the viewElement. So it appears that the model is not propagated down from the `{{em-form}}`` to the `{{em-input}}`. I'll try to do some more digging today.

[2017-02-15 09:36] psteininger commented on #151
Another observation:
[code]

[2017-02-15 09:42] psteininger commented on #151
I just noticed that this:
[code]
produces the actual model

[2017-02-15 09:50] psteininger commented on #151
I am coming to a conclusion that a deprecation is at fault here:
[code]

Perhaps I need to define the form and input differently

[2017-02-15 10:11] psteininger commented on #151
Ok, so I have changed my hbs to:
[code]
and the form works, but I hit other issues with the `ember-cp-validations` integration. I will fix that and do a PR soon.

In the meantime, I think it would be worth documenting the change to the handlebars setup and/or make things work both ways (old way and new way).

[2017-02-15 16:47] haldiggs commented on #148
thanks. For the record I pulled the Master and I was able to remove the
entries from Bower and everything seems to work fine.

On Tue, Feb 14, 2017 at 10:45 AM, Felix Fichte <notifications@github.com>
wrote:

--
Hal D. Diggs
<https://www.mcpvirtualbusinesscard.com/VBCServer/haldiggs/card> - "Non
sibi sed patriae" (Not for self, but for country)
Half of communications is listening, and you can't li

[2017-03-15 17:30] haldiggs opened #155 "object in path "mainComponent.model" and deprecation id: ember-rapid-forms.yielded-form"
just upgraded from Ember 2.6 to 2.11 so I do expect a few issues.

ember-rapid-forms is beta12.
ember-validations are 2.0.0-alpha.5

As soon as a field validation is attempted we get an error for each field "Property set failed: object in path "mainComponent.model" could not be found or was destroyed"

I'm not sure if the issue is Ember-Validations or the ember-forms at this point.
All forms are t

[2017-03-16 13:29] GCorbel commented on #155
Can you try with the branch in this PR : #146

Just use this version : GCorbel/ember-rapid-forms#refactoring

[2017-03-24 21:06] haldiggs opened #157 "new form.input helper defined in 1.0.0beta10"
is this no longer valid?
    {{em-input label="First Name" property="firstName" cid="FID"}}
I am getting the deprecation warning saying I need to use the new form.input helper defined in 1.0.0beta10 [deprecation id: ember-rapid-forms.yielded-form] but I don't see anything in the documentation http://piceatech.github.io/ember-rapid-forms/#/controls/input , this surely looks like a breaking change b

[2017-03-26 12:34] spruce commented on #157
Yes. Documentation is a little outdated. In the next few days I will update it. new form is like this:
[code]

[2017-03-27 17:05] haldiggs commented on #157
ok so I see the input now but the values still don't seem to flow. Did anything int he stup change as well?

    import EmberValidations from 'ember-validations';

[2017-04-04 21:00] spruce commented on #157
Can you show some more of your code or else it is really hard to tell what is going on

[2017-04-04 22:03] #157 closed

[2017-04-05 21:39] slannigan opened #160 "After refactor, page refreshes on form submit in specific cases"
After the refactor which got merged yesterday (https://github.com/piceaTech/ember-rapid-forms/pull/146), some types of form submission no longer works, including the method of form submission recommended in the Ember Rapid Forms docs (http://piceatech.github.io/ember-rapid-forms/#/controls/custom-submit)

The bug which occurs is, when the "Submit" button is clicked, the submit action doesn't run a

[2017-04-06 16:52] GCorbel commented on #160
You're right, this is a bug. I'm very sorry for that. It was a big refactoring and I did some mistakes.

Let me know if you have other problems.

Do you want to do a PR ? I can do it if you don't want.

[2017-04-06 16:57] slannigan commented on #160
If you have time to look at it within the next day, that'd be great, since you know more about the context and probably have a better idea of how to fix it. If you don't have time I'd be happy to take a look!

[2017-04-06 16:58] GCorbel commented on #160
I'll do it. It should not be complicated.

[2017-04-07 10:05] GCorbel commented on #160
I created #161 . It should fix the issue Please, can you test it ? I will merge once I have your confirmation.

[2017-04-07 14:16] slannigan commented on #160
I tested https://github.com/piceaTech/ember-rapid-forms/pull/161 against my test repo (https://github.com/slannigan/em-forms-refactor-bug), and unfortunately the last two forms are still causing the page to refresh on submit!

[2017-04-07 20:22] spruce commented on #160
I will wait to merge the PR until this is fixed, ok @GCorbel ?

[2017-04-07 20:43] GCorbel commented on #160
@slannigan @spruce I'll check it tonight.

[2017-04-07 21:04] slannigan commented on #160
Ok, thanks! If I can be of help let me know.

[2017-04-09 00:24] GCorbel commented on #160
It works now. I tried with your project but please, give me a confirmation.

Don't forget to replace the version with `    "ember-rapid-forms": "https://github.com/GCorbel/ember-rapid-forms/tarball/6804704853127521c72f8814741d88a40e72fe36"` in your package.json.

[2017-04-10 18:56] slannigan commented on #160
I tested `"https://github.com/GCorbel/ember-rapid-forms/tarball/6804704853127521c72f8814741d88a40e72fe36"` against many of our site's forms, and it works great! Thanks for your fix!

[2017-04-10 19:14] GCorbel commented on #160
awesome. I'll merge the PR and I close this issue.

[2017-04-10 19:14] #160 closed

[2017-04-10 22:02] spruce commented on #139
I think we can close this 👍

[2017-04-10 22:02] #139 closed

[2017-04-18 14:24] danconnell opened #163 "Checkbox in horizontal form HTML structure broken"
Previously, the HTML structure of a checkbox was:
[code]

Now the structure is:
[code]

Which is obviously completely different, and the new structure doesn't really make sense.

I'm looking into fixing this now.

[2017-04-19 20:26] #155 closed

[2017-04-22 11:37] spruce commented on #151
Sorry for not checking in here lately (2 month, ups). Did you have a PR on the thing you mentioned. Now the docs are showing the new way to use the forms. Should there be anything else changed?

[2017-04-22 11:38] spruce commented on #117
I think we can close this issue, right @GCorbel ?

[2017-04-22 17:58] #117 closed

[2017-05-10 00:59] #163 closed

[2017-05-17 20:21] vigpatrick commented on #112
you can use:

`change=(action 'actionName)`

[2017-05-23 08:44] spruce opened #165 "Build docs automatically"
When a new release is made we should publish the current docs with an automatic tool. Examples are:
- http://usejsdoc.org/
- https://yui.github.io/yuidoc/

[2017-05-23 13:14] GCorbel commented on #165
It would be great. Documentation is definitively not by force.

[2017-06-22 22:27] technomage opened #170 "em-select not initialized to existing value"
When a template is presented that contains an em-form and within that an em-select the value in the model is not used to initialize the em-select display. When the form is presented it clears the value of the property.

When em-select is initialized it looks at the selectedIndex of the component but not at the existing value in the model.  The selectedIndex is generally 0 on an uniniitalied select

[2017-06-23 04:16] GCorbel commented on #170
Can you check #169 ? I think it will resolve your problem.

[2017-06-25 13:58] technomage commented on #170
I have reworked the design, but will test in the near future.

[2017-06-25 14:09] technomage commented on #170
This resolves the issue.

[2017-06-25 14:09] #170 closed

[2017-09-10 21:16] felipekoblinger opened #172 "How to validate nested fields when submit?"
Hello! I'm trying to validate fields on submit click to show errors. But it only validate the main model, it associated fields do not. But the nested fields show the errors individually by events.

<img width="200" alt="screen shot 2017-09-10 at 18 02 24" src="https://user-images.githubusercontent.com/1183953/30252979-42f93f6c-9652-11e7-90d9-c6b0833bcde1.png"> <img width="200" alt="screen shot 201

[2017-09-12 10:56] GCorbel commented on #172
Hi and sorry for late answer.

I think this is not really related to ember-rapid-form but more to ember-cp-validations. As you can see [here](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/components/em-form.js#L74-L80), we only do `model.validate()`. You have to be sure than errors are set on the relationships with the `validate` method. I think you can try [this method](http://

[2017-10-14 16:53] spruce commented on #151
@psteininger anything new? elsewise I gonna close this as this project doesn't support 2.10 any longer.

[2017-10-16 09:20] psteininger commented on #151
@spruce ok to close. It's been a long time since I solved the issue, and I just don't remember how.

[2017-10-16 09:20] #151 closed

[2017-11-01 09:40] spruce commented on #78
Fixed as of https://github.com/piceaTech/ember-rapid-forms/commit/570dffd6f59f6bf7f290e700e445a58af422fea6

[2017-11-01 09:40] #78 closed

[2017-11-01 09:41] spruce commented on #74
Was added here: https://github.com/piceaTech/ember-rapid-forms/pull/173

[2017-11-01 09:41] #74 closed

[2017-11-01 09:42] #47 closed

[2017-11-02 13:54] jgoclawski opened #179 "Compile Error: fa-icon is not a helper in version 1.2"
After updating to 1.2 I'm getting: `Uncaught Error: Compile Error: fa-icon is not a helper`.
The stacktrace is not meaningful, but I've seen `formComponent.validationIcon` in debugger, which seems to be related to this PR: #175.
I had to downgrade to 1.1.0, where everything works.

[2017-11-03 10:51] spruce commented on #179
Thanks for the report.
That seems to be the case. I gonna upgrade my own usage today and fix that problem and let you know as soon as I found something

[2017-11-06 22:34] spruce commented on #179
Currently I have a PR open at https://github.com/martndemus/ember-font-awesome/pull/186 which should resolve the current problem with this. Gonna figure it out tomorrow.

[2017-11-07 16:27] spruce commented on #165
Even better: https://github.com/ember-learn/ember-cli-addon-docs

[2017-11-07 16:42] GCorbel commented on #165
We have to wait a bit for the stability of the addon but it looks good.

[2017-11-13 14:07] toovy opened #181 "forEach error during ember-server, caused by ember-font-awesome"
Hi,
with ember(-cli) 2.16.2 `ember server` gives me an error. I could track it down to ember-font-awesome that needs > v4.0.0 with newer ember-(cli) versions. In my fork I fixed it by just updating the version number of ember-font-awesome, but as I don't know anything about the implications I just wanted to report.
BR toovy

[2017-11-19 12:05] spruce commented on #181
Thanks for reporting.
Is it the same error as #179 ? I'm already working to fix that. I made a PR over at ember-font-awesome. Should be fixed in the next few days.

[2017-11-20 12:58] riklaunim opened #182 "Label customization"
Is there an option to customize label to a point of having a custom template? I want to have label text and next to it a tooltip which is bit of HTML and font-awesome icon.

[2017-11-24 16:37] GCorbel commented on #182
Hello and sorry for the late answer. I think the best we can do at the moment is :

    {{#em-form-group model=model property='clubName'}}
      {{em-form-label text='Label' for='club-name'}}
      {{input value=(mut (get model.setting 'clubName')) name='club-name' class='form-control'}}
    {{/em-form-group}}

You have some properties of ember-rapid-forms and can do what you want inside the `em-f

[2017-11-27 12:13] riklaunim commented on #182
ok, and what's the part responsible for showing validation errors?

[2017-11-27 13:25] GCorbel commented on #182
There is no way to have error validation with this at the moment but I think it should no be difficult to add.

I you want to contribute, you can try to add the mixin `InputComponentMixin` in [this file](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/components/em-custom-input.js) as it's done [here](https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/components/em-i

[2017-11-28 13:16] riklaunim commented on #181
node_modules/ember-rapid-forms/node_modules/ember-font-awesome/index.js 113:30 -- seems like dependencies still require FA 3.0 instead of 4.0 even when I have 4.0 in my package.json.

[2017-11-28 14:22] riklaunim opened #183 "showErrorsOnRender doesn't notice validation errors"
Backend returns data that can be invalid and in edit em-form I set showErrorsOnRender=true which just marks every field green while some are invalid and model.validations fields confirms it. I have to try editing a field for the ember-cp-validations to trigger correctly. Is there some extra setup needed to make this work or it's a bug? ;)

[2017-12-03 17:17] spruce commented on #179
Hey,
I just made a beta version of ERF containing the fix mentioned above. Could you try the beta? (Is on npm as ember-rapid-forms@1.2.4-beta.0 )

Thanks.

[2017-12-03 17:18] spruce commented on #181
Hey,
I just made a beta version of ERF containing the fix mentioned above. Could you try the beta? (Is on npm as ember-rapid-forms@1.2.4-beta.0 )

Thanks.

[2017-12-03 19:12] artsyca commented on #181
The beta is working with `ember s`

[2017-12-03 22:28] spruce commented on #181
Closing: Should be fixed with 1.2.4.

[2017-12-03 22:28] #181 closed

[2017-12-03 22:28] spruce commented on #179
Closing: Should be fixed with 1.2.4.

[2017-12-03 22:29] #179 closed

[2017-12-03 22:31] spruce commented on #183
That is some strange behaviour. It's probably a bug.
Gonna try and reproduce that. If you could create a failing test that would be great.

[2017-12-03 22:42] spruce opened #185 "Users don't have to manually install dependencies"
Take the needed dependencies into our own package.json so they don't need to be installed manually.

[2018-01-17 17:08] Argus9 opened #187 "Input of type "date" does not prefill when bound to ember model date-type attribute"
I am inserting an input element of type "date" and binding it to an attribute from the model that is also a date:

model.js
[code]

template using ember-rapid-forms:
[code]

The form element binds to the `submittedOn` property of the `model` successfully, and I can see the value changing in the Ember console as I use the date picker, but the element will not display the initial value of `model.sub

[2018-01-17 18:06] Argus9 commented on #187
Nevermind, found the problem - I'll leave the answer here in case it helps anyone else.

An input element of type "date" will store its value as an ISO string. An Ember model with a date attribute will, surprisingly, store it as a date. The form element can't convert a Date object into the correct format for the input to display it, so I had to do a little legwork to make the conversion.

In my ca

[2018-01-17 18:07] #187 closed

[2018-01-26 15:21] Argus9 commented on #187
@GCorbel I'm sure I could spend some time this weekend getting a PR together. :)

[2018-02-09 21:28] Argus9 opened #188 "Masking support"
Are any plans to support masking for inputs underway yet? I submitted another issue a few weeks ago involving pre-loading dates into date-type input elements and began working on a fix, but I've recently come across some use cases where the ability to apply a mask to an input would be desirable, and I began thinking it might even solve the issue of being unable to pre-load a date to an input.

If

[2018-02-10 20:24] GCorbel commented on #188
There is nothing planned yet but I could be great. I'm not sure how it should works but this solution seems to be good : https://github.com/estelle/input-masking so we will have something like

`{{em-input ... pattern="\w\d\w \d\w\d"}}`

It looks good an It would be nice to have this feature in Ember Rapid Forms so if you want to contribute, It would be great!

[2018-02-26 22:00] slannigan opened #189 "Ember 3.0.0 Deprecation - run.schedule('sync')"
As of Ember 3.0.0, this deprecation warning appears when using `em-select`:

`DEPRECATION: Scheduling into the 'sync' run loop queue is deprecated. [deprecation id: ember-metal.run.sync`
https://puu.sh/zwi3l/659ca974f3.png

The issue is the `run.schedule('sync', ...)` here: https://github.com/piceaTech/ember-rapid-forms/blob/master/addon/components/em-select.js#L41

I'm happy to help to write a fi

[2018-02-26 22:59] GCorbel commented on #189
Hi,

As you can see in the CI, it fails for Ember < 2.9. `run.next` seems to be a good solution. I had some problems with this part of code, with Ember 3, last week. Maybe `run.next` can solve the problem.

Thanks for the report.

[2018-02-27 14:45] slannigan commented on #189
Thanks for the help! Submitted a fix: https://github.com/piceaTech/ember-rapid-forms/pull/190

[2018-04-20 18:44] GCorbel opened #192 "Move to Bootstrap 4"
Bootstrap 4 is available and we should move to the new version. We have to follow this path : https://getbootstrap.com/docs/4.0/migration/ .

I think it would be nice to find a way to be compatible with both, like simple_form do in Ruby.

I'm not sure how we can do. We can add an object we can can change in `config/environment.js` like this :

[code]

This allows to change classes which should be

[2018-04-21 18:45] efx opened #193 "action firing on component initialization expected?"
@matthewdorner and I are working on an app that uses this component. We are invoking the component here:
https://github.com/MatthewDorner/hospitalrun-frontend/blob/3ae4115ddf5fefce3a06e12fbbecb81d4b78c521/app/appointments/edit/template.hbs#L31-L40
Is it intentional that the component fires the action on initialization? This behavior surprises me. I would expect the action only to fire when initiat

[2018-04-21 23:53] GCorbel commented on #193
It looks weird and it's not expected. I have to check it a little bit but it's supposed to work as you said. I will try to reproduce the bug tomorrow.

[2018-04-22 19:38] GCorbel commented on #193
I did a PR. Can you confirm it solves the bug?

[2018-04-22 20:09] MatthewDorner commented on #193
Yeah, that solves it.

[2018-04-22 20:47] GCorbel commented on #193
It's merged on the master branch.

[2018-04-22 20:47] #193 closed

[2018-04-22 20:52] MatthewDorner commented on #193
Thanks!

[2018-04-23 00:28] GCorbel commented on #192
I agree with the "bootstrap 4" by default. Maybe we can add a generator to
generate a config file with stuffs for bootstrap 3 or custom config.

I don't really know Zurb or others frameworks. I will just check if we can
do it or not but I think it will require more changes.

About separate branches, it will be hard to maintain.

Le dim. 22 avr. 2018 5:22 PM, Felix Fichte <notifications@github.com>

[2018-04-23 10:32] efx commented on #193
wow, thanks for the rapid turn around @GCorbel !

[2018-04-23 11:26] GCorbel commented on #193
No problem, the fix wasn't complicated.

[2018-04-28 14:44] efx commented on #193
@GCorbel are you able to release a minor version with this fix so we can target that version?

[2018-04-29 11:57] GCorbel commented on #193
I'm not able for the next two weeks. Maybe @spruce can do it.

Le sam. 28 avr. 2018 10:44 AM, Eli Flanagan <notifications@github.com> a
écrit :

[2018-05-03 12:40] spruce commented on #193
Released a patch version (1.2.5)

[2018-07-31 11:38] #189 closed